{% extends 'front/base.html' %}
{% load static %}
{% block title %}
    Site Data Analytics
{% endblock %}
{% block meta %}
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- favicon.ico -->
    <link rel="shortcut icon" href={% static 'favicon.ico' %}>
{% endblock %}
{% block style %}
    <style>
        .card-app {
            border: 1px solid #eaeaea; /* 添加边框 */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 添加阴影 */
            border-radius: 10px; /* 圆角边框 */
            overflow: hidden; /* 隐藏溢出内容 */
        }

        .card-body {
            display: flex;
            justify-content: center; /* 水平居中 */
            align-items: center; /* 垂直居中 */
            text-align: center; /* 文字居中 */
        }

        .app-content {
            color: #333; /* 修改文字颜色 */
        }

        .mb-2 {
            font-size: 1.2em; /* 增大指标名字的字体大小 */
            font-weight: bold; /* 加粗指标名字 */
            color: #555; /* 修改指标名字的颜色 */
        }

        .text-muted {
            color: #888; /* 修改指标值的颜色 */
        }
    </style>
{% endblock %}
{% block content %}
    <div class="loading_container">
        <div class="loading"><i></i><i></i><i></i><i></i></div>
    </div>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>网站数据分析</h1>
            </div>
        </div>
        <!-- 相关指标 -->
        <div class="row io-mx-n2 mt-4 ajax-list-body position-relative">
            {% for indicator in indicators.values %}
                    <div class="io-px-2 col-12 col-md-6 col-lg-4 col-xxl-5a ">
                        <div class="card-app card">
                            <div class="card-body align-items-center d-flex flex-fill py-3">
                                <div class="app-content flex-fill pl-2 pr-1">
                                    <div class="mb-2">{{ indicator.name }}</div>
                                    <div class="text-muted text-xs overflowClip_1">
                                        {{ indicator.value }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
        <!-- 图表容器 -->
        <div class="row mt-5">
            <div id="myChart" style="margin: 0 auto; width: 100%; height:400px;"></div>
        </div>
    </div>
    </body>
{% endblock %}
{% block script %}
    <script src="{% static 'analytics/echarts.min.js' %}"></script>
    <script type="text/javascript">
		$(document).ready(function () {
			$('footer').remove();
			let myChart = echarts.init(document.getElementById('myChart'));
			// 使用从后端传递的图表数据
			let option = {{ chart1|safe }};
			myChart.setOption(option);
		})
    </script>
{% endblock %}