{% extends 'front/base.html' %}
{% load static %}
{% block title %}
    排行榜
{% endblock %}
{% block style %}
    <style>
        .no-place {
            font-size: smaller;
            color: #999;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="loading_container">
        <div class="loading"><i></i><i></i><i></i><i></i></div>
    </div>
    {% include 'front/sidebar.html' %}
    <div class="main-content flex-fill">
        {% include 'front/header-nav.html' %}
        <div id="content" class="container container-lg my-3 my-md-4">
            <div class="card d-none d-md-block">
                <div class="card-body py-2 text-center">软件热度排行榜</div>
            </div>
            <div class="ranking position-relative">
                <div id="app-tab" class="row mx-n2 ranking-tab-body">
                    <div id="app-1" class="px-2 col-12 col-md-6 col-lg-3 d-none d-md-flex d-block">
                        <div class="card flex-fill">
                            <div class="card-header">
                                <div class="text-center tab-title">今日软件新秀榜</div>
                            </div>
                            <div class="card-body">
                                <ul class="m-0 p-0">
                                    {% for software in today_up_and_coming_star_software %}
                                        <li class="d-flex mb-3">
                                            <div class="overflowClip_1 mr-1">
                                                <span class="hot-rank hot-rank-{{ forloop.counter }} text-xs text-center">{{ forloop.counter }}</span>
                                                {% if software %}
                                                    <a href="" target="_blank" onmouseleave="default_href()"
                                                       onmouseout="default_href()"
                                                       onmousemove="re_href_software('{{ software.id }}')"
                                                       class="ml-1 text-sm software_link_{{ software.id }}"
                                                       data-id="93">{{ software.name }}</a>
                                                {% else %}
                                                    <span class="no-place ml-1">虚位以待...</span>
                                                {% endif %}
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="app-2" class="px-2 col-12 col-md-6 col-lg-3 d-none d-md-flex ">
                        <div class="card flex-fill">
                            <div class="card-header">
                                <div class="text-center tab-title">今日软件人气榜</div>
                            </div>
                            <div class="card-body">
                                <ul class="m-0 p-0">
                                    {% for software in today_popularity_software %}
                                        <li class="d-flex mb-3">
                                            <div class="overflowClip_1 mr-1">
                                                <span class="hot-rank hot-rank-{{ forloop.counter }} text-xs text-center">{{ forloop.counter }}</span>
                                                {% if software %}
                                                    <a href="" target="_blank" onmouseleave="default_href()"
                                                       onmouseout="default_href()"
                                                       onmousemove="re_href_software('{{ software.id }}')"
                                                       class="ml-1 text-sm software_link_{{ software.id }}"
                                                       data-id="93">{{ software.name }}</a>
                                                {% else %}
                                                    <span class="no-place ml-1">虚位以待...</span>
                                                {% endif %}
                                            </div>
                                            <span class="ml-auto text-sm">{{ software.popularity }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="app-3" class="px-2 col-12 col-md-6 col-lg-3 d-none d-md-flex ">
                        <div class="card flex-fill">
                            <div class="card-header">
                                <div class="text-center tab-title">软件新秀总榜</div>
                            </div>
                            <div class="card-body">
                                <ul class="m-0 p-0">
                                    {% for software in all_time_up_and_coming_star_software %}
                                        <li class="d-flex mb-3">
                                            <div class="overflowClip_1 mr-1">
                                                <span class="hot-rank hot-rank-{{ forloop.counter }} text-xs text-center">{{ forloop.counter }}</span>
                                                {% if software %}
                                                    <a href="" target="_blank" onmouseleave="default_href()"
                                                       onmouseout="default_href()"
                                                       onmousemove="re_href_software('{{ software.id }}')"
                                                       class="ml-1 text-sm software_link_{{ software.id }}"
                                                       data-id="93">{{ software.name }}</a>
                                                {% else %}
                                                    <span class="no-place ml-1">虚位以待...</span>
                                                {% endif %}
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="app-4" class="px-2 col-12 col-md-6 col-lg-3 d-none d-md-flex ">
                        <div class="card flex-fill">
                            <div class="card-header">
                                <div class="text-center tab-title">软件人气总榜</div>
                            </div>
                            <div class="card-body">
                                <ul class="m-0 p-0">
                                    {% for software in all_time_popularity_software %}
                                        <li class="d-flex mb-3">
                                            <div class="overflowClip_1 mr-1">
                                                <span class="hot-rank hot-rank-{{ forloop.counter }} text-xs text-center">{{ forloop.counter }}</span>
                                                {% if software %}
                                                    <a href="" target="_blank" onmouseleave="default_href()"
                                                       onmouseout="default_href()"
                                                       onmousemove="re_href_software('{{ software.id }}')"
                                                       class="ml-1 text-sm software_link_{{ software.id }}"
                                                       data-id="93">{{ software.name }}</a>
                                                {% else %}
                                                    <span class="no-place ml-1">虚位以待...</span>
                                                {% endif %}
                                            </div>
                                            <span class="ml-auto text-sm">{{ software.popularity }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card d-none d-md-block">
                <div class="card-body py-2 text-center">文章热度排行榜</div>
            </div>
            <div class="ranking position-relative">
                <div id="post-tab" class="row mx-n2 ranking-tab-body">
                    <div id="post-1" class="px-2 col-12 col-md-6 col-lg-3 d-none d-md-flex d-block">
                        <div class="card flex-fill">
                            <div class="card-header">
                                <div class="text-center tab-title">文章今日新秀榜</div>
                            </div>
                            <div class="card-body">
                                <ul class="m-0 p-0">
                                    {% for article in today_up_and_coming_star_articles %}
                                        <li class="d-flex mb-3">
                                            <div class="overflowClip_1 mr-1">
                                                <span class="hot-rank hot-rank-{{ forloop.counter }} text-xs text-center">{{ forloop.counter }}</span>
                                                {% if article %}
                                                    <a href="" target="_blank" onmouseleave="default_href()"
                                                       onmouseout="default_href()"
                                                       onmousemove="re_href_article('{{ article.id }}')"
                                                       class="ml-1 text-sm article_link_{{ article.id }}"
                                                       data-id="93">{{ article.title }}</a>
                                                {% else %}
                                                    <span class="no-place ml-1">虚位以待...</span>
                                                {% endif %}
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="post-2" class="px-2 col-12 col-md-6 col-lg-3 d-none d-md-flex ">
                        <div class="card flex-fill">
                            <div class="card-header">
                                <div class="text-center tab-title">文章今日人气榜</div>
                            </div>
                            <div class="card-body">
                                <ul class="m-0 p-0">
                                    {% for article in today_popularity_articles %}
                                        <li class="d-flex mb-3">
                                            <div class="overflowClip_1 mr-1">
                                                <span class="hot-rank hot-rank-{{ forloop.counter }} text-xs text-center">{{ forloop.counter }}</span>
                                                {% if article %}
                                                    <a href="" target="_blank" onmouseleave="default_href()"
                                                       onmouseout="default_href()"
                                                       onmousemove="re_href_article('{{ article.id }}')"
                                                       class="ml-1 text-sm article_link_{{ article.id }}"
                                                       data-id="93">{{ article.title }}</a>
                                                {% else %}
                                                    <span class="no-place ml-1">虚位以待...</span>
                                                {% endif %}
                                            </div>
                                            <span class="ml-auto text-sm">{{ article.popularity }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="post-3" class="px-2 col-12 col-md-6 col-lg-3 d-none d-md-flex ">
                        <div class="card flex-fill">
                            <div class="card-header">
                                <div class="text-center tab-title">文章新秀总榜</div>
                            </div>
                            <div class="card-body">
                                <ul class="m-0 p-0">
                                    {% for article in all_time_up_and_coming_star_articles %}
                                        <li class="d-flex mb-3">
                                            <div class="overflowClip_1 mr-1">
                                                <span class="hot-rank hot-rank-{{ forloop.counter }} text-xs text-center">{{ forloop.counter }}</span>
                                                {% if article %}
                                                    <a href="" target="_blank" onmouseleave="default_href()"
                                                       onmouseout="default_href()"
                                                       onmousemove="re_href_article('{{ article.id }}')"
                                                       class="ml-1 text-sm article_link_{{ article.id }}"
                                                       data-id="93">{{ article.title }}</a>
                                                {% else %}
                                                    <span class="no-place ml-1">虚位以待...</span>
                                                {% endif %}
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="post-4" class="px-2 col-12 col-md-6 col-lg-3 d-none d-md-flex ">
                        <div class="card flex-fill">
                            <div class="card-header">
                                <div class="text-center tab-title">文章人气总榜</div>
                            </div>
                            <div class="card-body">
                                <ul class="m-0 p-0">
                                    {% for article in all_time_popularity_articles %}
                                        <li class="d-flex mb-3">
                                            <div class="overflowClip_1 mr-1">
                                                <span class="hot-rank hot-rank-{{ forloop.counter }} text-xs text-center">{{ forloop.counter }}</span>
                                                {% if article %}
                                                    <a href="" target="_blank" onmouseleave="default_href()"
                                                       onmouseout="default_href()"
                                                       onmousemove="re_href_article('{{ article.id }}')"
                                                       class="ml-1 text-sm article_link_{{ article.id }}"
                                                       data-id="93">{{ article.title }}</a>
                                                {% else %}
                                                    <span class="no-place ml-1">虚位以待...</span>
                                                {% endif %}
                                            </div>
                                            <span class="ml-auto text-sm">{{ article.popularity }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
		$(document).ready(function () {
			$('a.tab-button').click(function () {
				$(this).siblings().removeClass('active');
				$(this).addClass('active');
				$($(this).data('id')).siblings().removeClass('d-block');
				$($(this).data('id')).addClass('d-block');
			});
		})
    </script>
{% endblock %}