{% load static %}
<div id="sidebar" class="sticky sidebar-nav fade">
    <div class="modal-dialog h-100  sidebar-nav-inner">
        <div class="sidebar-logo border-bottom border-color">
            <!-- logo -->
            <div class="logo overflow-hidden">
                <a href="/index/" class="logo-expanded">
                    <img src="{% static 'front/img/logo.png' %}"
                         class="logo-light" alt="MacApplicationDistribution">
                    <img src="{% static 'front/img/logo.png' %}"
                         class="logo-dark d-none" alt="MacApplicationDistribution">
                </a>
                <a href="/index/" class="logo-collapsed">
                    <img src="{% static 'front/img/logo.png' %}"
                         class="logo-light" alt="MacApplicationDistribution">
                    <img src="{% static 'front/img/logo.png' %}"
                         class="logo-dark d-none" alt="MacApplicationDistribution">
                </a>
            </div>
            <!-- logo end -->
        </div>
        <div class="sidebar-menu flex-fill" style="margin-top: 1rem">
            <div class="sidebar-scroll">
                <div class="sidebar-menu-inner">
                    <ul>
                        {% if request.categories %}
                            {% for category in request.categories %}
                                <li class="sidebar-item">
                                    <a href="" class="" 
                                       onmousemove="encrypt_self(3, {{ category.id }})">
                                        <img src="{{ category.icon.url }}" 
                                             class="icon-fw icon-fw-append icon-lg" alt="{{ category.name }}">
                                        <span>{{ category.name }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
{#    the bottom of sidebar#}
        <div class="border-top py-2 border-color">
            <div class="flex-bottom">
                <ul>
                </ul>
            </div>
        </div>
    </div>
</div>
