@font-face {
  font-family: "io"; /* Project id 4184880 */
  src: url('../fonts/font_4184880_kci8o10x3ij.woff2?t=1695396374402') format('woff2'),
       url('../fonts/font_4184880_kci8o10x3ij.woff?t=1695396374402') format('woff'),
       url('../fonts/font_4184880_kci8o10x3ij.ttf?t=1695396374402') format('truetype');
}

.io {
  font-family: "io" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.io-macOS:before {
  content: "\e73a";
}

.io-ios:before {
  content: "\e699";
}

.io-ios1:before {
  content: "\e64e";
}

.io-os:before {
  content: "\e65a";
}

.io-apple:before {
  content: "\e6d1";
}

.io-appleM-copy:before {
  content: "\e6d2";
}

.io-appleM:before {
  content: "\e628";
}

.io-pingguo:before {
  content: "\e623";
}

.io-pingguo1:before {
  content: "\e624";
}

.io-changyonglogo35:before {
  content: "\e71c";
}

.io-iconfontapple:before {
  content: "\e634";
}

.io-pingguo2:before {
  content: "\e625";
}

.io-pingguo3:before {
  content: "\e627";
}

.io-pingguo4:before {
  content: "\e63d";
}

.io-intel:before {
  content: "\e620";
}

.io-intel1:before {
  content: "\e61e";
}

.io-intel2:before {
  content: "\e61f";
}

.io-intel3:before {
  content: "\e621";
}

.io-intel4:before {
  content: "\e622";
}

.io-nav3-intel:before {
  content: "\e657";
}

.io-Logo_Intel:before {
  content: "\e6e3";
}

.io-intel5:before {
  content: "\e663";
}

.io-M:before {
  content: "\e618";
}

.io-M1:before {
  content: "\e666";
}

.io-M2:before {
  content: "\e619";
}

.io-M3:before {
  content: "\e61a";
}

.io-m:before {
  content: "\e61d";
}

.io-M4:before {
  content: "\e654";
}

.io-m1:before {
  content: "\e8b0";
}

.io-shell:before {
  content: "\e731";
}

.io-shell1:before {
  content: "\e7a8";
}

.io-shell2:before {
  content: "\e6a8";
}

.io-Shell:before {
  content: "\e79d";
}

.io-Shell1:before {
  content: "\e70d";
}

.io-Shell2:before {
  content: "\e615";
}

.io-shell3:before {
  content: "\e616";
}

.io-powershell:before {
  content: "\e680";
}

.io-powershell1:before {
  content: "\ec5e";
}

.io-PowerShell:before {
  content: "\e617";
}

.io-a-kuozhanicon_huaban1fuben33:before {
  content: "\e646";
}

.io-lianjie:before {
  content: "\e614";
}

.io-huojiaqu:before {
  content: "\e6c4";
}

.io-Traffic-Cone:before {
  content: "\eacf";
}

.io-boom-gate-up-outline:before {
  content: "\f1ab";
}

.io-icon_ktjl:before {
  content: "\e7f3";
}

.io-tizi1:before {
  content: "\e75d";
}

.io-chajiancanshupeizhi:before {
  content: "\e69c";
}

.io-chajiancanshushuju:before {
  content: "\e69d";
}

.io-chajian:before {
  content: "\e69f";
}

.io-chajian1:before {
  content: "\e6a0";
}

.io-chajian2:before {
  content: "\e626";
}

.io-kehujiaobenduan:before {
  content: "\e643";
}

.io-jiaobenbianji:before {
  content: "\e60f";
}

.io-jiaoben:before {
  content: "\e764";
}

.io-yiwen:before {
  content: "\e60b";
}

.io-yiwen1:before {
  content: "\e66a";
}

.io-yiwen2:before {
  content: "\e60d";
}

.io-010yiwen:before {
  content: "\e656";
}

.io-zhishiyiwen:before {
  content: "\e633";
}

.io-icon_xinyong_xianxing_jijin-156:before {
  content: "\e64d";
}

.io-yiwenwenti:before {
  content: "\e611";
}

.io-yiwen3:before {
  content: "\e772";
}

.io-yiwen4:before {
  content: "\fc7a";
}

.io-Doubt:before {
  content: "\e612";
}

.io-tizi:before {
  content: "\e608";
}

.io-caisemiaobiantubiaoji-:before {
  content: "\e828";
}

.io-nongchang_04tizi:before {
  content: "\e726";
}

.io-yule:before {
  content: "\e607";
}

.io-yinle:before {
  content: "\e69e";
}

.io-yule1:before {
  content: "\e60e";
}

.io-iconfontanquan:before {
  content: "\e60a";
}

.io-iconfontanquan1:before {
  content: "\e60c";
}

.io-bianjiwenjian:before {
  content: "\e603";
}

.io-bianjimoban:before {
  content: "\e604";
}

.io-wenbenshuru:before {
  content: "\e605";
}

.io-icon_edit:before {
  content: "\e61b";
}

.io-editor:before {
  content: "\e63f";
}

.io-bianji:before {
  content: "\e66c";
}

.io-bianji1:before {
  content: "\e61c";
}

.io-bianji2:before {
  content: "\e816";
}

.io-qiandai:before {
  content: "\e606";
}

.io-dashang:before {
  content: "\e692";
}

.io-dashang1:before {
  content: "\e693";
}

.io-qiandai1:before {
  content: "\e62a";
}

.io-qiandai2:before {
  content: "\e6cc";
}

.io-qiandai3:before {
  content: "\e610";
}

.io-dashang2:before {
  content: "\1010e";
}

.io-video3:before {
  content: "\e6b8";
}

.io-a-videogeneration:before {
  content: "\e888";
}

.io-video:before {
  content: "\e636";
}

.io-video-2:before {
  content: "\e697";
}

.io-video1:before {
  content: "\e63e";
}

.io-video-l:before {
  content: "\e66b";
}

.io-f-video:before {
  content: "\e76b";
}

.io-video2:before {
  content: "\e691";
}

.io-xiazai:before {
  content: "\e62f";
}

.io-xiazai1:before {
  content: "\e651";
}

.io-xiazai2:before {
  content: "\e665";
}

.io-xiazai3:before {
  content: "\eb13";
}

.io-yunxiazai:before {
  content: "\eb2c";
}

.io-tuya_huabanfuben:before {
  content: "\e75e";
}

.io-xiazai4:before {
  content: "\e602";
}

.io-shejishi1:before {
  content: "\e642";
}

.io-shejijingli-:before {
  content: "\e6c0";
}

.io-shejishuju:before {
  content: "\e601";
}

.io-shejimeigong:before {
  content: "\e631";
}

.io-gongju1:before {
  content: "\e6ae";
}

.io-gongju:before {
  content: "\e600";
}

.io-cipan:before {
  content: "\e98e";
}

.io-cib-jetbrains:before {
  content: "\e759";
}

.io-office:before {
  content: "\e609";
}

.io-JetBrains:before {
  content: "\e613";
}

.io-microsoft-office:before {
  content: "\e98f";
}

