@font-face {
    font-family: 'mono';
    src: url('../fonts/6697Mono.woff2') format('woff2'),
    url('../fonts/6697Mono.woff') format('woff');
    font-display: auto;
}

.mono {
    font-family: 'mono' !important;
}

		