{% extends 'frontenduser/base.html' %}
{% load static %}
{% block title %}
    Mac软件分享平台 {{ article.title }}
{% endblock %}
{% block content %}
    <div class="loading_container">
        <div class="loading"><i></i><i></i><i></i><i></i></div>
    </div>
    {% include 'frontenduser/sidebar.html' %}
    <div class="main-content flex-fill" style="transform: none">
        {% include 'frontenduser/header-nav.html' %}
        <div id="content" class="container my-3 my-md-4" style="transform: none;">
            <nav class="text-xs mb-3 mb-md-4" aria-label="breadcrumb"><i class="iconfont icon-home"></i> <a
                    class="crumbs" href="/index/">首页</a><i class="text-danger px-1">•</i><a
                    href="/articles/" rel="category tag">文章</a><i class="text-danger px-1">•</i><span
                    aria-current="page">{{ article.title }}</span></nav>
            <main class="content" role="main" style="transform: none;">
                <div class="content-wrap">
                    <div class="content-layout">
                        <div class="panel card">
                            <div class="card-body">
                                <div class="panel-header mb-4"><h1 class="h3 mb-3">{{ article.title }}</h1>
                                    <div class="d-flex flex-fill text-muted text-sm pb-4 border-bottom border-t"
                                         style="align-items: center">
                                        <span class="mr-3"><i class="iconfont icon-time"></i>
                                            <span>
                                                <time data-type="local" datetime="{{ article.updated_time|date:"Y-m-d H:i:sO" }}"></time>
                                            </span>
                                        </span>
                                        <span
                                                class="mr-3"><a href='' class="user_link_{{ article.user.id }}"
                                                                onmouseout="default_href()"
                                                                onmouseleave="default_href()"
                                                                onmousemove="re_href_user('{{ article.user.id }}')"
                                                                target="_blank"
                                                                rel="nofollow noopener noreferrer" class="url"><i
                                                class="iconfont icon-user-circle"></i> {% if article.user.nickname %}
                                            {{ article.user.nickname }}{% else %}{{ article.user.username }}{% endif %}</a></span>
                                        <div class="flex-fill"></div>
                                        <button type="button" id="article-{{ article.id }}"
                                                onclick="thumb_article('{{ article.id }}', 1)"
                                                class="btn btn-lg px-4 text-lg radius-50 btn-outline-danger custom_btn-outline mb-2 mr-3">
                                            <i class="iconfont icon-like mr-2"></i> 赞 <span
                                                class="like-count ">{{ article.thumbs_volume }}</span>
                                        </button>
                                        <span class="views mr-3"><i
                                                class="iconfont icon-chakan"></i> {{ article.view_volume }}</span><span
                                            class="mr-3"><a class="smooth-n" href="#comments"> <i
                                            class="iconfont icon-comment"></i> {{ article.comment_set.count }}</a></span>
                                    </div>
                                </div>
                                <div class="panel-body single mt-2">
                                    <blockquote>
                                        <p style="text-align: center;"><span style="color: #ff6600;"><strong>网盘改版！请注意查看！如遇到误选择收费形式请留言整改！</strong></span>
                                        </p>
                                        <p style="text-align: center;"><span style="color: #ff6600;"><strong>网盘通知大文件后期免登录下载有可能改动！</strong></span>
                                        </p>
                                        <p style="text-align: center;"><span style="color: #ff6600;"><strong>如遇收费，强制登录等情况！请留言！站内会选着其他下载渠道！</strong></span>
                                        </p>
                                    </blockquote>
                                    <a class="js" href="https://macwk.cn/wp-content/uploads/2023/10/tz.png"
                                       data-fancybox="fancybox" data-caption="通知：网盘改版！请注意查看！"><img
                                            fetchpriority="high" decoding="async"
                                            class="size-full wp-image-1313 aligncenter loaded"
                                            data-src="https://macwk.cn/wp-content/uploads/2023/10/tz.png"
                                            src="https://macwk.cn/wp-content/uploads/2023/10/tz.png"
                                            alt="通知：网盘改版！请注意查看！" width="553" height="356"
                                            data-was-processed="true"></a>
                                </div>
                                <div class="post-tags my-3"><i class="iconfont icon-tags mr-2"></i><a
                                        href="https://macwk.cn/shiyongjiaocheng"
                                        class="btn  btn-sm text-xs text-height-xs m-1 rounded-pill" rel="tag"
                                        title="查看更多文章"># 使用教程</a></div>
                                <div class="text-xs text-muted">
                                    <div><span>©</span> 版权声明</div>
                                    <div class="posts-copyright">文章版权归作者所有，未经允许请勿转载。</div>
                                </div>
                            </div>
                        </div>
                        <div class="near-navigation rounded mt-4 py-2">
                            <div class="nav previous border-right border-color">
                                <a class="near-permalink" href="https://macwk.cn/1298.html">
                                    <span>上一篇</span>
                                    <h4 class="near-title">Adobe Photoshop 2024 M2版本安装教程</h4>
                                </a>
                            </div>
                            <div class="nav none border-left border-color" style="text-align: right;">
                                <span>下一篇</span>
                                <h4 class="near-title">没有更多了...</h4>
                            </div>
                        </div>
                        <h4 class="text-gray text-lg my-4"><i class="site-tag iconfont icon-book icon-lg mr-1"></i>相关文章
                        </h4>
                        <div class="row mb-n4">
                            <div class="col-6 col-md-4">
                                <div class="card-post list-item">
                                    <div class="media media-4x3 p-0 rounded">
                                        <a class="media-content" href="https://macwk.cn/1081.html" target="_blank"
                                           data-src="//macwk.cn/wp-content/uploads/2023/09/bg.jpg"
                                           data-was-processed="true"
                                           style="background-image: url(//macwk.cn/wp-content/uploads/2023/09/bg.jpg);"></a>
                                    </div>
                                    <div class="list-content">
                                        <div class="list-body">
                                            <a href="https://macwk.cn/1081.html" target="_blank"
                                               class="list-title text-md overflowClip_2">
                                                iTerm2配色及插件留言贴 </a>
                                        </div>
                                        <div class="list-footer">
                                            <div class="d-flex flex-fill align-items-center">
                                                <a href="https://macwk.cn/author/1" class="flex-avatar mr-1"
                                                   target="_blank">
                                                    <img src="https://macwk.cn/wp-content/uploads/2023/07/WechatIMG16.jpg"
                                                         width="20" height="20" alt="头像"
                                                         class="avatar avatar-20 wp-user-avatar wp-user-avatar-20 photo avatar-default">
                                                </a>
                                                <a href="https://macwk.cn/author/1"
                                                   class="d-none d-md-inline-block text-xs" target="_blank">MacWk</a>
                                                <div class="flex-fill"></div>
                                                <div class="text-muted text-xs">
                                                    <span class="views mr-1"><i class="iconfont icon-chakan mr-1"></i>3,090</span>
                                                    <a href="https://macwk.cn/1081.html"><i
                                                            class="iconfont icon-heart mr-1"></i>3</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-6 col-md-4">
                                <div class="card-post list-item">
                                    <div class="media media-4x3 p-0 rounded">
                                        <a class="media-content" href="https://macwk.cn/1298.html" target="_blank"
                                           data-src="//macwk.cn/wp-content/uploads/2023/09/bg.jpg"
                                           data-was-processed="true"
                                           style="background-image: url(//macwk.cn/wp-content/uploads/2023/09/bg.jpg);"></a>
                                    </div>
                                    <div class="list-content">
                                        <div class="list-body">
                                            <a href="https://macwk.cn/1298.html" target="_blank"
                                               class="list-title text-md overflowClip_2">
                                                Adobe Photoshop 2024 M2版本安装教程 </a>
                                        </div>
                                        <div class="list-footer">
                                            <div class="d-flex flex-fill align-items-center">
                                                <a href="https://macwk.cn/author/1" class="flex-avatar mr-1"
                                                   target="_blank">
                                                    <img src="https://macwk.cn/wp-content/uploads/2023/07/WechatIMG16.jpg"
                                                         width="20" height="20" alt="头像"
                                                         class="avatar avatar-20 wp-user-avatar wp-user-avatar-20 photo avatar-default">
                                                </a>
                                                <a href="https://macwk.cn/author/1"
                                                   class="d-none d-md-inline-block text-xs" target="_blank">MacWk</a>
                                                <div class="flex-fill"></div>
                                                <div class="text-muted text-xs">
                                                    <span class="views mr-1"><i class="iconfont icon-chakan mr-1"></i>7,265</span>
                                                    <a href="https://macwk.cn/1298.html"><i
                                                            class="iconfont icon-heart mr-1"></i>3</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-6 col-md-4">
                                <div class="card-post list-item">
                                    <div class="media media-4x3 p-0 rounded">
                                        <a class="media-content" href="https://macwk.cn/546.html" target="_blank"
                                           data-src="//macwk.cn/wp-content/uploads/2023/09/bg.jpg"
                                           data-was-processed="true"
                                           style="background-image: url(//macwk.cn/wp-content/uploads/2023/09/bg.jpg);"></a>
                                    </div>
                                    <div class="list-content">
                                        <div class="list-body">
                                            <a href="https://macwk.cn/546.html" target="_blank"
                                               class="list-title text-md overflowClip_2">
                                                Adob​​e PhotoShop 2021 激活教程 </a>
                                        </div>
                                        <div class="list-footer">
                                            <div class="d-flex flex-fill align-items-center">
                                                <a href="https://macwk.cn/author/1" class="flex-avatar mr-1"
                                                   target="_blank">
                                                    <img src="https://macwk.cn/wp-content/uploads/2023/07/WechatIMG16.jpg"
                                                         width="20" height="20" alt="头像"
                                                         class="avatar avatar-20 wp-user-avatar wp-user-avatar-20 photo avatar-default">
                                                </a>
                                                <a href="https://macwk.cn/author/1"
                                                   class="d-none d-md-inline-block text-xs" target="_blank">MacWk</a>
                                                <div class="flex-fill"></div>
                                                <div class="text-muted text-xs">
                                                    <span class="views mr-1"><i class="iconfont icon-chakan mr-1"></i>5,884</span>
                                                    <a href="https://macwk.cn/546.html"><i
                                                            class="iconfont icon-heart mr-1"></i>2</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- comments -->
                        {% include 'frontenduser/comments_list.html' %}
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
		$(document).ready(function () {
			format_time_block();
		})
    </script>
{% endblock %}