{% extends 'frontenduser/base.html' %}
{% load static %}
{% block title %}
	Mac软件分享平台 {{ article.title }}
{% endblock %}
{% block content %}
    <div class="loading_container">
        <div class="loading"><i></i><i></i><i></i><i></i></div>
    </div>
    {% include 'frontenduser/sidebar.html' %}
    <div class="main-content flex-fill" style="transform: none">
        {% include 'frontenduser/header-nav.html' %}
        <div id="content" class="container my-3 my-md-4" style="transform: none;">
            <nav class="text-xs mb-3 mb-md-4" aria-label="breadcrumb"><i class="iconfont icon-home"></i> <a
                    class="crumbs" href="https://macwk.cn/">首页</a><i class="text-danger px-1">•</i><a
                    href="https://macwk.cn/shiyongjiaocheng" rel="category tag">使用教程</a><i class="text-danger px-1">•</i><span
                    aria-current="page">通知：网盘改版！请注意查看！</span></nav>
            <main class="content" role="main" style="transform: none;">
                <div class="content-wrap">
                    <div class="content-layout">
                        <div class="panel card">
                            <div class="card-body">
                                <div class="panel-header mb-4"><h1 class="h3 mb-3">通知：网盘改版！请注意查看！</h1>
                                    <div class="d-flex flex-fill text-muted text-sm pb-4 border-bottom border-t"><span
                                            class="mr-3 d-none d-sm-block"><a
                                            href="https://macwk.cn/shiyongjiaocheng"><i
                                            class="iconfont icon-classification"></i> 使用教程</a></span><span
                                            class="mr-3"><i class="iconfont icon-time"></i><span
                                            title="2023年 10月 30日 pm9:47发布">3个月前发布</span></span><span
                                            class="mr-3"><a href="https://macwk.cn/author/1" title="MacWk"><i
                                            class="iconfont icon-user-circle"></i> MacWk</a></span>
                                        <div class="flex-fill"></div>
                                        <span class="views mr-3"><i class="iconfont icon-chakan"></i> 5,744</span><span
                                                class="mr-3"><a class="smooth-n" href="#comments"> <i
                                                class="iconfont icon-comment"></i> 0</a></span>
                                        <span class="mr-3"><a class="btn-like btn-link-like " href="javascript:;"
                                                              data-action="post_like" data-id="1312"><i
                                                class="iconfont icon-like"></i> <span
                                                class="like-count">4</span></a></span></div>
                                </div>
                                <div class="panel-body single mt-2">
                                    <blockquote>
                                        <p style="text-align: center;"><span style="color: #ff6600;"><strong>网盘改版！请注意查看！如遇到误选择收费形式请留言整改！</strong></span>
                                        </p>
                                        <p style="text-align: center;"><span style="color: #ff6600;"><strong>网盘通知大文件后期免登录下载有可能改动！</strong></span>
                                        </p>
                                        <p style="text-align: center;"><span style="color: #ff6600;"><strong>如遇收费，强制登录等情况！请留言！站内会选着其他下载渠道！</strong></span>
                                        </p>
                                    </blockquote>
                                    <a class="js" href="https://macwk.cn/wp-content/uploads/2023/10/tz.png"
                                       data-fancybox="fancybox" data-caption="通知：网盘改版！请注意查看！"><img
                                            fetchpriority="high" decoding="async"
                                            class="size-full wp-image-1313 aligncenter loaded"
                                            data-src="https://macwk.cn/wp-content/uploads/2023/10/tz.png"
                                            src="https://macwk.cn/wp-content/uploads/2023/10/tz.png"
                                            alt="通知：网盘改版！请注意查看！" width="553" height="356"
                                            data-was-processed="true"></a>
                                </div>
                                <div class="post-tags my-3"><i class="iconfont icon-tags mr-2"></i><a
                                        href="https://macwk.cn/shiyongjiaocheng"
                                        class="btn  btn-sm text-xs text-height-xs m-1 rounded-pill" rel="tag"
                                        title="查看更多文章"># 使用教程</a></div>
                                <div class="text-xs text-muted">
                                    <div><span>©</span> 版权声明</div>
                                    <div class="posts-copyright">文章版权归作者所有，未经允许请勿转载。</div>
                                </div>
                            </div>
                        </div>
                        <div class="near-navigation rounded mt-4 py-2">
                            <div class="nav previous border-right border-color">
                                <a class="near-permalink" href="https://macwk.cn/1298.html">
                                    <span>上一篇</span>
                                    <h4 class="near-title">Adobe Photoshop 2024 M2版本安装教程</h4>
                                </a>
                            </div>
                            <div class="nav none border-left border-color" style="text-align: right;">
                                <span>下一篇</span>
                                <h4 class="near-title">没有更多了...</h4>
                            </div>
                        </div>
                        <h4 class="text-gray text-lg my-4"><i class="site-tag iconfont icon-book icon-lg mr-1"></i>相关文章
                        </h4>
                        <div class="row mb-n4">
                            <div class="col-6 col-md-4">
                                <div class="card-post list-item">
                                    <div class="media media-4x3 p-0 rounded">
                                        <a class="media-content" href="https://macwk.cn/1081.html" target="_blank"
                                           data-src="//macwk.cn/wp-content/uploads/2023/09/bg.jpg"
                                           data-was-processed="true"
                                           style="background-image: url(//macwk.cn/wp-content/uploads/2023/09/bg.jpg);"></a>
                                    </div>
                                    <div class="list-content">
                                        <div class="list-body">
                                            <a href="https://macwk.cn/1081.html" target="_blank"
                                               class="list-title text-md overflowClip_2">
                                                iTerm2配色及插件留言贴 </a>
                                        </div>
                                        <div class="list-footer">
                                            <div class="d-flex flex-fill align-items-center">
                                                <a href="https://macwk.cn/author/1" class="flex-avatar mr-1"
                                                   target="_blank">
                                                    <img src="https://macwk.cn/wp-content/uploads/2023/07/WechatIMG16.jpg"
                                                         width="20" height="20" alt="头像"
                                                         class="avatar avatar-20 wp-user-avatar wp-user-avatar-20 photo avatar-default">
                                                </a>
                                                <a href="https://macwk.cn/author/1"
                                                   class="d-none d-md-inline-block text-xs" target="_blank">MacWk</a>
                                                <div class="flex-fill"></div>
                                                <div class="text-muted text-xs">
                                                    <span class="views mr-1"><i class="iconfont icon-chakan mr-1"></i>3,090</span>
                                                    <a href="https://macwk.cn/1081.html"><i
                                                            class="iconfont icon-heart mr-1"></i>3</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-6 col-md-4">
                                <div class="card-post list-item">
                                    <div class="media media-4x3 p-0 rounded">
                                        <a class="media-content" href="https://macwk.cn/1298.html" target="_blank"
                                           data-src="//macwk.cn/wp-content/uploads/2023/09/bg.jpg"
                                           data-was-processed="true"
                                           style="background-image: url(//macwk.cn/wp-content/uploads/2023/09/bg.jpg);"></a>
                                    </div>
                                    <div class="list-content">
                                        <div class="list-body">
                                            <a href="https://macwk.cn/1298.html" target="_blank"
                                               class="list-title text-md overflowClip_2">
                                                Adobe Photoshop 2024 M2版本安装教程 </a>
                                        </div>
                                        <div class="list-footer">
                                            <div class="d-flex flex-fill align-items-center">
                                                <a href="https://macwk.cn/author/1" class="flex-avatar mr-1"
                                                   target="_blank">
                                                    <img src="https://macwk.cn/wp-content/uploads/2023/07/WechatIMG16.jpg"
                                                         width="20" height="20" alt="头像"
                                                         class="avatar avatar-20 wp-user-avatar wp-user-avatar-20 photo avatar-default">
                                                </a>
                                                <a href="https://macwk.cn/author/1"
                                                   class="d-none d-md-inline-block text-xs" target="_blank">MacWk</a>
                                                <div class="flex-fill"></div>
                                                <div class="text-muted text-xs">
                                                    <span class="views mr-1"><i class="iconfont icon-chakan mr-1"></i>7,265</span>
                                                    <a href="https://macwk.cn/1298.html"><i
                                                            class="iconfont icon-heart mr-1"></i>3</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-6 col-md-4">
                                <div class="card-post list-item">
                                    <div class="media media-4x3 p-0 rounded">
                                        <a class="media-content" href="https://macwk.cn/546.html" target="_blank"
                                           data-src="//macwk.cn/wp-content/uploads/2023/09/bg.jpg"
                                           data-was-processed="true"
                                           style="background-image: url(//macwk.cn/wp-content/uploads/2023/09/bg.jpg);"></a>
                                    </div>
                                    <div class="list-content">
                                        <div class="list-body">
                                            <a href="https://macwk.cn/546.html" target="_blank"
                                               class="list-title text-md overflowClip_2">
                                                Adob​​e PhotoShop 2021 激活教程 </a>
                                        </div>
                                        <div class="list-footer">
                                            <div class="d-flex flex-fill align-items-center">
                                                <a href="https://macwk.cn/author/1" class="flex-avatar mr-1"
                                                   target="_blank">
                                                    <img src="https://macwk.cn/wp-content/uploads/2023/07/WechatIMG16.jpg"
                                                         width="20" height="20" alt="头像"
                                                         class="avatar avatar-20 wp-user-avatar wp-user-avatar-20 photo avatar-default">
                                                </a>
                                                <a href="https://macwk.cn/author/1"
                                                   class="d-none d-md-inline-block text-xs" target="_blank">MacWk</a>
                                                <div class="flex-fill"></div>
                                                <div class="text-muted text-xs">
                                                    <span class="views mr-1"><i class="iconfont icon-chakan mr-1"></i>5,884</span>
                                                    <a href="https://macwk.cn/546.html"><i
                                                            class="iconfont icon-heart mr-1"></i>2</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- comments -->
                        <div id="comments" class="comments">
                            <h2 id="comments-list-title" class="comments-title h5 mx-1 my-4">
                                <i class="iconfont icon-comment"></i>
                                <span class="noticom">
			<a href="https://macwk.cn/1312.html#respond" class="comments-title">暂无评论</a>
		</span>
                            </h2>
                            <div class="card">
                                <div class="card-body">
                                    <div id="respond_box">
                                        <div id="respond" class="comment-respond">
                                            <form id="commentform" class="text-sm mb-4">
                                                <div class="visitor-avatar d-flex flex-fill mb-2">
                                                    <img class="v-avatar rounded-circle"
                                                         src="https://macwk.cn/wp-content/themes/onenav/images/gravatar.jpg">
                                                </div>
                                                <div class="comment-textarea mb-3">
                                                    <textarea name="comment" id="comment" class="form-control"
                                                              placeholder="输入评论内容..." tabindex="4" cols="50"
                                                              rows="3"></textarea>
                                                </div>

                                                <div id="comment-author-info" class="row  row-sm">
                                                    <div class="col-12 col-md-6 mb-3"><input type="text" name="author"
                                                                                             id="author"
                                                                                             class="form-control"
                                                                                             value="" size="22"
                                                                                             placeholder="昵称"
                                                                                             tabindex="2"></div>
                                                    <div class="col-12 col-md-6 mb-3"><input type="text" name="email"
                                                                                             id="email"
                                                                                             class="form-control"
                                                                                             value="" size="22"
                                                                                             placeholder="邮箱"
                                                                                             tabindex="3"></div>
                                                </div>
                                                <div class="com-footer d-flex justify-content-end flex-wrap">
                                                    <input type="hidden" id="_wpnonce" name="_wpnonce"
                                                           value="07e931b117"><input type="hidden"
                                                                                     name="_wp_http_referer"
                                                                                     value="/1312.html"> <a
                                                        rel="nofollow" id="cancel-comment-reply-link"
                                                        style="display: none;" href="javascript:;"
                                                        class="btn btn-light custom_btn-outline mx-2">再想想</a>
                                                    <button class="btn btn-dark custom_btn-d ml-2" type="submit"
                                                            id="submit">发表评论
                                                    </button>
                                                    <input type="hidden" name="action" value="ajax_comment">
                                                    <input type="hidden" name="comment_post_ID" value="1312"
                                                           id="comment_post_ID">
                                                    <input type="hidden" name="comment_parent" id="comment_parent"
                                                           value="0">
                                                </div>
                                            </form>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div id="loading-comments"><span></span></div>
                                    <div class="not-comment card">
                                        <div class="card-body nothing text-center color-d">暂无评论...</div>
                                    </div>

                                </div>
                            </div>
                        </div><!-- comments end -->
                    </div>
                </div>
                <div class="sidebar sidebar-tools d-none d-lg-block"
                     style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">


                    <div class="theiaStickySidebar"
                         style="padding-top: 0px; padding-bottom: 0px; position: static; transform: none;">
                        <div id="add-widgets" class="card widget_text bk">

                            <div class="card-header">
                                <span><i class="iconfont icon-category mr-2"></i>添加小工具</span>
                            </div>
                            <div class="card-body text-sm">
                                <a href="https://macwk.cn/wp-admin/widgets.php"
                                   target="_blank">点此为“正文侧边栏”添加小工具</a>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
{% block script %}

{% endblock %}