{% extends 'frontenduser/base.html' %}
{% load static %}
{% block title %}
    Mac软件分享平台 {{ article.title }}
{% endblock %}
{% block style %}
    <style>
        .panel-body {
            min-height: 15rem;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="loading_container">
        <div class="loading"><i></i><i></i><i></i><i></i></div>
    </div>
    {% include 'frontenduser/sidebar.html' %}
    <div class="main-content flex-fill" style="transform: none">
        {% include 'frontenduser/header-nav.html' %}
        <div id="content" class="container my-3 my-md-4" style="transform: none;">
            <nav class="text-xs mb-3 mb-md-4" aria-label="breadcrumb"><i class="iconfont icon-home"></i> <a
                    class="crumbs" href="/index/">首页</a><i class="text-danger px-1">•</i><a
                    href="/articles/" rel="category tag">文章</a><i class="text-danger px-1">•</i><span
                    aria-current="page">{{ article.title }}</span></nav>
            <main class="content" role="main" style="transform: none;">
                <div class="content-wrap">
                    <div class="content-layout">
                        <div class="panel card">
                            <div class="card-body">
                                <div class="panel-header mb-4"><h1 class="h3 mb-3">{{ article.title }}</h1>
                                    <div class="d-flex flex-fill text-muted text-sm pb-4 border-bottom border-t"
                                         style="align-items: center">
                                        <span class="mr-3"><i class="iconfont icon-time"></i>
                                            <span>
                                                <time data-type="local"
                                                      datetime="{{ article.updated_time|date:"Y-m-d H:i:sO" }}"></time>
                                            </span>
                                        </span>
                                        <span
                                                class="mr-3"><a href='' class="user_link_{{ article.user.id }}"
                                                                onmouseout="default_href()"
                                                                onmouseleave="default_href()"
                                                                onmousemove="re_href_user('{{ article.user.id }}')"
                                                                target="_blank"
                                                                rel="nofollow noopener noreferrer" class="url"><i
                                                class="iconfont icon-user-circle"></i> {% if article.user.nickname %}
                                            {{ article.user.nickname }}{% else %}{{ article.user.username }}{% endif %}</a></span>
                                        <div class="flex-fill"></div>
                                        <button type="button" id="article-{{ article.id }}"
                                                onclick="thumb_article('{{ article.id }}', 1)"
                                                class="btn btn-lg px-4 text-lg radius-50 btn-outline-danger custom_btn-outline mb-2 mr-3">
                                            <i class="iconfont icon-like mr-2"></i> 赞 <span
                                                class="like-count ">{{ article.thumbs_volume }}</span>
                                        </button>
                                        <span class="views mr-3"><i
                                                class="iconfont icon-chakan"></i> {{ article.view_volume }}</span><span
                                            class="mr-3"><a class="smooth-n" href="#comments"> <i
                                            class="iconfont icon-comment"></i> {{ article.comment_set.count }}</a></span>
                                    </div>
                                </div>
                                <div class="panel-body single mt-2">
                                    <div class="article-content" id="content-article">{{ article.html_content|safe }}</div>
                                    {% if related_software and related_software_count > 0 %}
                                        <div class="related_software">
                                            <h2 class="text-gray text-lg my-4">
                                                <i class="site-tag fa fa-file-text-o mr-1"></i>
                                                关联软件
                                            </h2>
                                            {% for software in related_software %}
                                                <div class="io-edit-post-card-content">
                                                    <div class="url-card shortcode-url site_0 mx-auto "
                                                         style="max-width:600px">
                                                        <div class="card flex-fill mb-3">
                                                            <div class="row no-gutters">
                                                                <div class="col-4">
                                                                    <div class="media media-4x3 rounded-left"
                                                                         style="border-radius: 1rem">
                                                                        <a class="media-content software_link_{{ software.id }}"
                                                                           onmouseout="default_href()"
                                                                           onmouseleave="default_href()"
                                                                           onmousemove="re_href_software('{{ software.id }}')"
                                                                           data-was-processed="false"
                                                                           data-src="{{ software.icon.url }}"
                                                                           style="background-image: url({{ software.icon.url }});"
                                                                           href=""></a>
                                                                    </div>
                                                                </div>
                                                                <div class="col-8">
                                                                    <div class="card-body list-content p-2"
                                                                         style="height: 100%;">
                                                                        <div class="list-body">
                                                                            <a href="" title="{{ software.name }}"
                                                                               onmouseout="default_href()"
                                                                               onmouseleave="default_href()"
                                                                               onmousemove="re_href_software('{{ software.id }}')"
                                                                               class="list-title no-c overflowClip_1 software_link_{{ software.id }}">
                                                                                {{ software.name }}
                                                                            </a>
                                                                            <div class="list-desc d-none d-md-block text-sm text-secondary my-3">
                                                                                {{ software.short_description }}
                                                                            </div>
                                                                        </div>
                                                                        <div>
                                                                            <div class="d-flex flex-fill align-items-center text-muted text-xs">
                                                                                <div class="flex-fill"></div>
                                                                                <div>
                                                                                    <time data-type="local"
                                                                                          datetime="{{ software.updated_time|date:'Y-m-d H:i:sO' }}">
                                                                                    </time>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="text-xs text-muted" style="text-align: right">
                                    <div style="padding-right: 10%"><span>©</span> 版权声明</div>
                                    <div class="posts-copyright">文章版权归作者所有，未经允许请勿转载。</div>
                                </div>
                                <div class="social-share">

                                </div>
                            </div>
                        </div>
                        <div class="near-navigation rounded mt-4 py-2">
                            {% if context_articles.previous %}
                                <div class="nav prev border-right border-color" style="text-align: left;">
                                    <a class="near-permalink article_link_{{ context_articles.previous.id }}"
                                       href="" onmouseout="default_href()"
                                       onmouseleave="default_href()"
                                       onmousemove="re_href_article('{{ context_articles.previous.id }}')">
                                        <span>上一篇</span>
                                        <h4 class="near-title text-left">{{ context_articles.previous.title }}</h4>
                                    </a>
                                </div>
                            {% else %}
                                <div class="nav none border-right border-color" style="text-align: left;">
                                    <span>上一篇</span>
                                    <h4 class="near-title text-left">没有更多了...</h4>
                                </div>
                            {% endif %}
                            {% if context_articles.next %}
                                <div class="nav next border-left border-color" style="text-align: right;">
                                    <a class="near-permalink article_link_{{ context_articles.next.id }}"
                                       href="" onmouseout="default_href()"
                                       onmouseleave="default_href()"
                                       onmousemove="re_href_article('{{ context_articles.next.id }}')">
                                        <span>下一篇</span>
                                        <h4 class="near-title">{{ context_articles.next.title }}</h4>
                                    </a>
                                </div>
                            {% else %}
                                <div class="nav none border-left border-color" style="text-align: right;">
                                    <span>下一篇</span>
                                    <h4 class="near-title text-right">没有更多了...</h4>
                                </div>
                            {% endif %}
                        </div>
                        <h4 class="text-gray text-lg my-4">
                            <i class="site-tag iconfont icon-book icon-lg mr-1"></i>
                            相关文章
                        </h4>
                        <div class="row mb-n4">
                            {% if related_articles_count > 0 %}
                                {% for article in related_articles %}
                                    <div class="col-6 col-md-4">
                                        <div class="card-post list-item">
                                            <div class="media media-4x3 p-0 rounded">
                                                <a class="media-content article_link_{{ article.id }}" href=""
                                                   onmouseout="default_href()" onmouseleave="default_href()"
                                                   onmousemove="re_href_article('{{ article.id }}')"
                                                   data-src="{{ article.cover.url }}"
                                                   data-was-processed="true"
                                                   style="background-image: url({{ article.cover.url }});">
                                                </a>
                                            </div>
                                            <div class="list-content">
                                                <div class="list-body">
                                                    <a href="" onmouseleave="default_href()"
                                                       onmouseout="default_href()"
                                                       onmousemove="re_href_article('{{ article.id }}')"
                                                       class="list-title text-md overflowClip_2 article_link_{{ article.id }}">
                                                        {{ article.title }} </a>
                                                </div>
                                                <div class="list-footer">
                                                    <div class="d-flex flex-fill align-items-center">
                                                        <a href=""
                                                           class="flex-avatar mr-1 user_link_{{ article.user.id }}"
                                                           onmouseout="default_href()" onmouseleave="default_href()"
                                                           onmousemove="re_href_user('{{ article.user.id }}')"
                                                           target="_blank">
                                                            <img src="{{ article.user.head_icon.url }}"
                                                                 width="20" height="20" alt="头像"
                                                                 class="avatar avatar-20 wp-user-avatar wp-user-avatar-20 photo avatar-default">
                                                        </a>
                                                        <a href=""
                                                           class="d-none d-md-inline-block text-xs user_link_{{ article.user.id }}"
                                                           onmouseout="default_href()" onmouseleave="default_href()"
                                                           onmousemove="re_href_user('{{ article.user.id }}')"
                                                           target="_blank">
                                                            {% if article.user.nickname %}
                                                                {{ article.user.nickname }}
                                                            {% else %}
                                                                {{ article.user.username }}
                                                            {% endif %}
                                                        </a>
                                                        <div class="flex-fill"></div>
                                                        <div class="text-muted text-xs">
                                                        <span class="views mr-1"><i
                                                                class="iconfont icon-chakan mr-1"></i>
                                                            {{ article.view_volume }}
                                                        </span><i
                                                                class="iconfont icon-like mr-1"></i>
                                                            {{ article.thumbs_volume }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="col-12">
                                    <div class="alert alert-warning" role="alert">
                                        暂无相关文章
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                        <!-- comments -->
                        {% include 'frontenduser/comments_list.html' %}
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
		$(document).ready(function () {
			format_time_block();
			{#ClassicEditor#}
			{#	.create(document.querySelector('#content-article'), {#}
			{#		toolbar: [],#}
			{#		isReadOnly: true,#}
			{#	}).then(editor => {#}
			{#	editor.enableReadOnlyMode("editor");#}
			{#	editor.setData(`{{ article.html_content|safe }}`);#}
			{#	document.querySelector('#content-article')#}
			{#		.nextSibling.children[1].style = 'display: none';#}
			{#	document.querySelector('#content-article')#}
			{#		.nextSibling.children[2].children[0].style = 'border: none';#}

		})
    </script>
{% endblock %}