{% extends 'frontenduser/base.html' %}
{% load static %}
{% block title %}
    Mac软件分享平台 登录
{% endblock %}
{% block style %}
    <link rel="stylesheet" media="screen"
          href="{% static 'login/css/' %}auth.css">
    <link rel="stylesheet" href="{% static 'front/css/sweetalert2.css' %}">
    <link href="{% static 'login/css/' %}css2.css" rel="stylesheet">
    <style>
        .auth-link a {
            cursor: pointer;
        }

        .head_icon {
            display: flex;
            flex-direction: row;
            justify-items: center;
            justify-content: center;
        }

        .head_icon img {
            max-width: 100%;
        }

        .upload_img {
            width: 96px;
            height: 96px;
            background-color: transparent;
        }

        .upload_img .show_ico {
            width: 100%;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="loading_container">
        <div class="loading"><i></i><i></i><i></i><i></i></div>
    </div>
    <body class="logged-out not-pro not-player not-self not-team not-on-team no-hiring  js-connect-with-application show-register-container connect-with-application">
    <div id="main-container">
        <section class="auth-sidebar">
            <div class="auth-sidebar-content">
                <video playsinline="" class="auth-sidebar-video" autoplay="" loop="" muted=""
                       src="{% static 'login/assets/login.mp4' %}">
                </video>
            </div>
        </section>
        <section class="content" data-content-container="">
            <main>
                <div class="auth-content">
                    <h2 id='title' class="font-heading-2" style="text-align: center">登录</h2>
                    {# login form #}
                    <div class="auth-register-container auth-form signup-form">
                        <form class=" gen-form with-messages signup" id="login"
                              accept-charset="UTF-8" method="post">
                            <div class="form-field">
                                <fieldset class="user_login">
                                    <label for="username">用户名</label>
                                    <input autocomplete="username"
                                           autofocus onfocusout="validate_username(this.value)"
                                           class="text-input" type="text"
                                           name="username" id="username">
                                </fieldset>
                            </div>
                            <div class="form-field">
                                <fieldset class="user_password">
                                    <label for="user_password">密码</label><input
                                        class="text-input password" placeholder="请输入密码"
                                        type="password" name="password"
                                        onfocusout="validate_password(this.value)"
                                        autocomplete="password"
                                        id="user_password">
                                </fieldset>
                            </div>
                            <div class="form-btns">
                                <input type="button" onclick="login()" value="登录"
                                       class="btn2 btn2--large btn2--full-width margin-t-20">
                            </div>
                            <p class="auth-link color-deep-blue-sea-light-20">
                                还没有账号? <a onclick="change_type(2)">去注册</a>
                            </p>
                        </form>
                    </div>
                    {#register form#}
                    <div class="auth-register-container auth-form signup-form">
                        <form class=" gen-form with-messages signup" id="register"
                              accept-charset="UTF-8" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-field head_icon">
                                <div class="upload_img">
                                    <div class="show_ico">
                                        <img id="show_ico" class="show-sites"
                                             src="/static/front/img/publication/add.png" alt="截图">
                                        <i id="remove_ico" class="iconfont icon-close-circle remove-ico remove-sites"
                                           style="display: none;" onclick="remove_img()"></i>
                                    </div>
                                    <input type="file" id="head_icon" name="head_icon" accept="image/*"
                                           onchange="preview_img(); validate_head_icon(this)">
                                </div>
                            </div>
                            <div class="form-field">
                                <fieldset class="user_login">
                                    <label for="register_username">用户名</label>
                                    <input autocomplete="username"
                                           autofocus onfocusout="validate_username(this.value)"
                                           class="text-input" type="text"
                                           id="register_username" name="username">
                                </fieldset>
                            </div>
                            <div class="form-field">
                                <fieldset class="user_login">
                                    <label for="register_nickname">昵称</label>
                                    <input autocomplete="nickname"
                                           onfocusout="validate_nickname(this.value)"
                                           class="text-input" type="text"
                                           id="register_nickname" name="nickname">
                                </fieldset>
                            </div>
                            <div class="form-field">
                                <fieldset class="user_login">
                                    <label for="register_email">邮箱</label>
                                    <input autocomplete="nickname"
                                           onfocusout="validate_email(this.value)"
                                           class="text-input" type="text"
                                           id="register_email" name="email">
                                </fieldset>
                            </div>
                            <div class="form-field">
                                <fieldset class="user_password">
                                    <label for="user_password">密码</label>
                                    <input class="text-input" placeholder="请输入密码"
                                           type="password" name="password"
                                           autocomplete="password"
                                           onfocusout="validate_password(this.value)"
                                           id="register_password">
                                </fieldset>
                            </div>
                            <div class="form-field">
                                <fieldset class="user_password">
                                    <label for="register_repeat_password">重复密码</label><input
                                        class="text-input" placeholder="请输入密码"
                                        type="password" name="password_repeat"
                                        autocomplete="password"
                                        onfocusout="validate_repeat_password(this.parentElement.parentElement.previousElementSibling.children[0].children[1].value, this.value)"
                                        id="register_repeat_password">
                                </fieldset>
                            </div>
                            <div class="form-btns">
                                <input type="button" value="注册" onclick="register()"
                                       class="btn2 btn2--large btn2--full-width margin-t-20">
                            </div>
                            <p class="auth-link color-deep-blue-sea-light-20">
                                已有账号? <a onclick="change_type(1)">去登录</a>
                            </p>
                        </form>
                    </div>
                </div>
            </main>
        </section>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'front/js/' %}jquery.min.js"></script>
    <script src="{% static '' %}front/extend_js/crypto-js.min.js"></script>
    <script src="{% static 'front/js/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'front/extend_js/general.js' %}"></script>
    <script src="{% static 'front/extend_js/query_api.js' %}"></script>
    <script>
		function change_type(type = 1) {
			let title = $('#title');
			let login_form = $('#login');
			let register_form = $('#register');
			if (type === 1) {
				title.text('登录');
				login_form.attr('style', 'display: block');
				register_form.attr('style', 'display: none');
			} else if (type === 2) {
				title.text('注册');
				login_form.attr('style', 'display: none');
				register_form.attr('style', 'display: block');
			}
		}

		$(document).ready(e => {
			change_type(1);
			$('footer').remove();
		})


		function validate_username(username) {
			if (username.length < 3) {
				showAlert({status: 3, msg: '用户名长度不能小于3位'});
				return false;
			}
			if (username.length > 20) {
				showAlert({status: 3, msg: '用户名长度不能大于20位'});
				return false;
			}
			if (!/^[a-zA-Z0-9@*%$#]+$/.test(username)) {
				showAlert({status: 3, msg: '用户名只能包含字母、数字、@、*、%、$、#'});
			}
			return true;
		}

		function validate_password(password) {
			if (password.length < 6) {
				showAlert({status: 3, msg: '密码长度不能小于6位'})
				return false;
			}
			if (password.length > 20) {
				showAlert({status: 3, msg: '密码长度不能大于20位'})
				return false;
			}
			if (!/^[a-zA-Z0-9@*%$#]+$/.test(password)) {
				showAlert({status: 3, msg: '密码只能包含字母、数字、@、*、%、$、#'});
				return false;
			}
			return true;
		}

		function validate_repeat_password(password, repeat_password) {
			if (password !== repeat_password) {
				showAlert({status: 3, msg: '两次密码不一致'})
				return false;
			}
			return true;
		}

		function validate_email(email) {
			if (!/^[a-zA-Z0-9]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9]+)+$/.test(email)) {
				showAlert({status: 3, msg: '邮箱格式不正确'});
				return false;
			}
			return true;
		}

		function validate_nickname(nickname) {
			if (!/^[\u4e00-\u9fa5a-zA-Z0-9@*%$#]{0,20}$/.test(nickname)) {
				showAlert({status: 3, msg: '昵称只能包含中文、字母、数字、@、*、%、$、#，且长度为0-20位'});
				return false;
			}
			return true;
		}

		function validate_head_icon(icon_element) {
			let icon_element_value = '';
			try {
				icon_element_value = icon_element.value || icon_element.val();
			} catch (e) {
			}
			if (icon_element_value === '') {
				showAlert({status: 3, msg: '请选择头像'});
				return false;
			}
			let icon = icon_element.files[0];
			if (icon.size > 1024 * 1024 * 10) {
				showAlert({status: 3, msg: '头像大小不能超过10M'});
				remove_img();
				return false;
			}
			if (icon.type !== 'image/jpeg' && icon.type !== 'image/png') {
				showAlert({status: 3, msg: '头像格式只能是jpg或png'});
				remove_img();
				return false;
			}
			return true;
		}

		function validate_login() {
			let username = $('#username').val();
			let password = $('#user_password').val();
			let username_result = validate_username(username);
			if (username_result !== true) {
				swal.fire({
					icon: 'error',
					title: '错误',
					text: '请检查用户名格式是否正确'
				})
				return false;
			}
			let password_result = validate_password(password);
			if (password_result !== true) {
				swal.fire({
					icon: 'error',
					title: '错误',
					text: '请检查密码格式是否正确'
				})
				return false;
			}
			return true;
		}

		function validate_register() {
			let username = $('#register_username').val();
			let nickname = $('#register_nickname').val();
			let email = $('#register_email').val();
			let password = $('#register_password').val();
			let repeat_password = $('#register_repeat_password').val();
			let icon_element = document.querySelector('#head_icon');
			let icon_result = validate_head_icon(icon_element);
			if (icon_result !== true) {
				swal.fire({
					icon: 'error',
					title: '错误',
					text: '请检查头像'
				})
				return false;
			}
			let username_result = validate_username(username);
			if (username_result !== true) {
				swal.fire({
					icon: 'error',
					title: '错误',
					text: '请检查用户名格式是否正确'
				})
				return false;
			}
			let nickname_result = validate_nickname(nickname);
			if (nickname_result !== true) {
				swal.fire({
					icon: 'error',
					title: '错误',
					text: '请检查昵称格式是否正确'
				})
				return false;
			}
			let email_result = validate_email(email);
			if (email_result !== true) {
				swal.fire({
					icon: 'error',
					title: '错误',
					text: '请检查邮箱格式是否正确'
				})
				return false;
			}
			let password_result = validate_password(password);
			if (password_result !== true) {
				swal.fire({
					icon: 'error',
					title: '错误',
					text: '请检查密码格式是否正确'
				})
				return false;
			}
			let repeat_password_result = validate_repeat_password(password, repeat_password);
			if (repeat_password_result !== true) {
				swal.fire({
					icon: 'error',
					title: '错误',
					text: '请检查两次密码是否一致'
				})
				return false;
			}
			return true;
		}

		function login() {
			let result = validate_login();
			if (result !== true) {
				return false;
			}
			fetch('/frontenduser/api/login/', {
				method: 'POST', // 指定请求方法
				mode: 'cors', // 请求的模式
				cache: 'default', // 缓存模式
				credentials: 'same-origin', // 是否应该发送Cookie
				headers: {
					'Content-Type': 'application/json', // 请求的内容类型
					'X-CSRFToken': '{{ csrf_token }}' // CSRF令牌
				},
				redirect: 'follow', // 重定向模式
				referrerPolicy: 'no-referrer', // 引用策略
				body: JSON.stringify({
					'username': encrypt_param($('input[name=username]').val()),
					'password': encrypt_param($('input[name=password]').val())
				}) // 请求的主体
			}).then(response => response.json()).then(data => {
				if (data.code === 200) {
					swal.fire({
						icon: 'success',
						title: '成功',
						text: '登录成功'
					}).then(() => {
						window.location.href = '{{ request.GET.redirect_to }}' || '/';
					})
				} else {
					swal.fire({
						icon: 'error',
						title: '错误',
						text: data.msg
					})
				}
			})
		}

		function register() {
			let result = validate_register();
			if (result !== true) {
				return false;
			}
			$.ajax({
				url: '/frontenduser/api/register/',
				type: 'POST',
				data: new FormData($('#register')[0]),
				processData: false,
				contentType: false,
				success: function (data) {
					if (data.code === 200) {
						Swal.fire({
							title: '注册成功，是否立即登录?',
							text: "是否选择现在马上登录，或者您可以选择稍后登录!",
							icon: 'success',
							showCancelButton: true,
							confirmButtonColor: '#3085d6',
							cancelButtonColor: '#d33',
							confirmButtonText: '立即登录',
                            cancelButtonText: '稍后登录'
						}).then((result) => {
							if (result.value) {
								change_type(1);
							} else {
								window.location.href = '{{ request.GET.redirect_to }}' || '/';
                            }
						})
					} else {
						swal.fire({
							icon: 'error',
							title: '错误',
							text: data.code + ": " + data.msg
						})
					}
				},
				error: function (data) {
					swal.fire({
						icon: 'error',
						title: '错误',
						text: "后端接口异常，请联系站长！"
					})
				}
			})
		}

		function preview_img() {
			let tg = event.target;
			let file = tg.files[0];
			let reader = new FileReader();
			reader.onloadend = function () {
				tg.parentElement.children[0].children[0].src = reader.result;
				tg.parentElement.children[0].children[1].setAttribute('style', 'display: block');
			};
			reader.readAsDataURL(file);
		}

		function remove_img() {
			let tg = document.querySelector('#remove_ico');
			tg.parentElement.children[0].src = '{% static 'front/img/publication/add.png' %}';
			tg.setAttribute('style', 'display: none');
			tg.parentElement.parentElement.children[1].value = '';
		}
    </script>
{% endblock %}