{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="facebook-domain-verification" content="14yui0t6bj9n8uz4d48a2snpt3cvnz">
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token"
          content="Ybsgc4y5BauGgYhf5n0WUDeHo9Z5XmWny4Equ3o2JRZFZspvWMkixoBiNBgcWlODe35uwBLPoxrdFkGDqW3Tvw==">
    <title>
        Mac软件分享平台 登录
    </title>
    <link rel="stylesheet" media="screen"
          href="{% static 'login/css/' %}auth.css">
    <link rel="stylesheet" href="{% static 'front/css/sweetalert2.css' %}">
    <meta name="mixpanel-action" content="new">
    <link href="{% static 'login/css/' %}css2.css" rel="stylesheet">
</head>

<body class="logged-out not-pro not-player not-self not-team not-on-team no-hiring  js-connect-with-application show-register-container connect-with-application">

<div id="main-container">
    <section class="auth-sidebar">
        <div class="auth-sidebar-content">
            <video playsinline="" class="auth-sidebar-video" autoplay="" loop="" muted=""
                   src="{% static 'login/assets/login.mp4' %}">
            </video>
        </div>
    </section>
    <section class="content" data-content-container="">
        <main>
            <div class="auth-content">
                <h2 class="font-heading-2" style="text-align: center">登录</h2>
                <div class="auth-register-container auth-form signup-form">
                    <form class=" gen-form with-messages signup"
                          accept-charset="UTF-8" method="post">
                        {% csrf_token %}
                        <div class="form-field">
                            <fieldset class="user_login">
                                <label for="user_login">用户名</label>
                                <input autocomplete="username"
                                       autofocus
                                       class="text-input" type="text"
                                       name="login" id="user_login">
                            </fieldset>
                        </div>
                        <div class="form-field">
                            <fieldset class="user_password">
                                <label for="user_password">密码</label><input
                                    class="text-input" placeholder="请输入密码"
                                    type="password" name="password"
                                    autocomplete="password"
                                    id="user_password">
                            </fieldset>
                        </div>
                        <div class="form-btns">
                            <input type="submit" name="commit" value="登录"
                                   class="btn2 btn2--large btn2--full-width margin-t-20">
                        </div>
                        <p class="auth-link color-deep-blue-sea-light-20">
                            还没有账号? <a href="" onclick="change_type(2)">注册</a>
                        </p>
                    </form>
                </div>
            </div>
        </main>
    </section>
</div>
<script src="{% static 'front/js/' %}jquery.min.js"></script>
<script src="{% static '' %}front/extend_js/crypto-js.min.js"></script>
<script src="{% static 'front/js/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'front/extend_js/general.js' %}"></script>
<script src="{% static 'front/extend_js/query_api.js' %}"></script>
</body>
</html>