{% extends 'frontenduser/base.html' %}
{% load static %}
{% block title %}
    Mac软件分享平台
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'front/css/swiper-bundle.min.css' %}">
{% endblock %}
{% block content %}
    <div class="loading_container">
        <div class="loading"><i></i><i></i><i></i><i></i></div>
    </div>
    <body class="app-template-default single single-app postid-1428 sidebar_no app">
    {% include 'frontenduser/sidebar.html' %}
    <div class="main-content flex-fill">
        {% include 'frontenduser/header-nav.html' %}
        <div id="content" class="container container-fluid customize-width">
            <div class="home-widget-group">
                <div class="slice-article mb-4">
                    <div class="row no-gutters">
                        <div class="col-12 col-md-7 col-lg-8 col-xl-6">
                            <div class="swiper swiper-post-module rounded-xl swiper-initialized swiper-horizontal swiper-pointer-events">
                                <div class="swiper-wrapper" id="swiper-wrapper-fa0debbb37d58db5" aria-live="off"
                                     style="transition-duration: 0ms; transform: translate3d(-2013px, 0px, 0px);">
                                    <div class="swiper-slide media media-21x9 swiper-slide-duplicate swiper-slide-next swiper-slide-duplicate-prev"
                                         data-swiper-slide-index="1" role="group" aria-label="2 / 2"
                                         style="width: 671px;"><a class="media-content media-title-bg" href=""
                                                                  target="_blank" rel="external noopener nofollow"
                                                                  data-bg="url({% static 'front/img/home/slice_bg.png' %})"
                                                                  data-was-processed="true"
                                                                  style="background-image: url({% static 'front/img/home/slice_bg.png' %});"><span
                                            class="carousel-caption d-none d-md-block"></span></a></div>
                                    <div class="swiper-slide media media-21x9 swiper-slide-duplicate-active"
                                         data-swiper-slide-index="0" role="group" aria-label="1 / 2"
                                         style="width: 671px;"><a class="media-content media-title-bg" href=""
                                                                  target="_blank" rel="external noopener nofollow"
                                                                  data-bg="url({% static 'front/img/home/slice_bg.png' %})"
                                                                  data-was-processed="true"
                                                                  style="background-image: url({% static 'front/img/home/slice_bg.png' %});"><span
                                            class="carousel-caption d-none d-md-block"></span></a></div>
                                    <div class="swiper-slide media media-21x9 swiper-slide-prev swiper-slide-duplicate-next"
                                         data-swiper-slide-index="1" role="group" aria-label="2 / 2"
                                         style="width: 671px;"><a class="media-content media-title-bg" href=""
                                                                  target="_blank" rel="external noopener nofollow"
                                                                  data-bg="url({% static 'front/img/home/slice_bg.png' %})"
                                                                  data-was-processed="true"
                                                                  style="background-image: url({% static 'front/img/home/slice_bg.png' %});"><span
                                            class="carousel-caption d-none d-md-block"></span></a></div>
                                    <div class="swiper-slide media media-21x9 swiper-slide-duplicate swiper-slide-active"
                                         data-swiper-slide-index="0" role="group" aria-label="1 / 2"
                                         style="width: 671px;"><a class="media-content media-title-bg" href=""
                                                                  target="_blank" rel="external noopener nofollow"
                                                                  data-bg="url({% static 'front/img/home/slice_bg.png' %})"
                                                                  data-was-processed="true"
                                                                  style="background-image: url({% static 'front/img/home/slice_bg.png' %});"><span
                                            class="carousel-caption d-none d-md-block"></span></a></div>
                                </div>

                                <div class="swiper-pagination carousel-blog swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
                                    <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0"
                                          role="button" aria-label="Go to slide 1" aria-current="true"></span><span
                                        class="swiper-pagination-bullet" tabindex="0" role="button"
                                        aria-label="Go to slide 2"></span></div>
                                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                        </div>
                        <div class="col-12 col-md-5 col-lg-4 col-xl-3 mt-4 mt-md-0">
                            <div class="card new-news mb-0 overflow-hidden rounded-xl">
                                <h3 class="h6 news_title"><i class="iconfont icon-category"></i>&nbsp;&nbsp;最新文章
                                </h3>
                                <a class="news_all_btn text-xs" href="/articles/" target="_blank"
                                   title="最新文章">所有</a>
                                <ul>
                                    {% if latest_articles_count > 0 %}
                                        {% for article in latest_articles %}
                                            <li>
                                                <i class="iconfont icon-point"></i>
                                                <a class="text-sm article_link_{{ article.id }}" href=""
                                                   onmouseleave="default_href()" onmouseout="default_href()"
                                                   onmouseover="re_href_article({{ article.id }})"
                                                   target="_blank"><span>{{ article.title }}</span></a>
                                                <div class="d-flex flex-fill text-xs text-muted">
                                                    {{ article.created_time|date:"Y年m月d日" }}
                                                </div>
                                            </li>
                                        {% endfor %}
                                    {% else %}
                                        <li>
                                            <a class="text-sm" href="">
                                                <span>⚠️网站还没有任何文章！⚠️</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="content-wrap">
                    <div class="content-layout">
                        {% for category in request.categories %}
                            {% if category.software_count > 0 %}
                                <h4 class="text-gray text-lg">
                                    <img src="{{ category.icon.url }}"
                                         class="icon-fw icon-fw-append icon-lg" alt="{{ category.name }}">
                                    <span>{{ category.name }}</span>
                                    {% if category.software_count > 12 %}
                                        <a style="float: right; margin-top: 1rem"
                                           class="btn-move tab-move text-xs ml-2 category_link_{{ category.id }}"
                                           href="" onmouseout="default_href()" onmouseleave="default_href()"
                                           onmousemove="re_href_category('{{ category.id }}')">
                                            查看全部
                                        </a>
                                    {% endif %}
                                </h4>
                                <!-- tab模式菜单 -->
                                {#                            <div class="d-flex flex-fill flex-tab align-items-center" >#}
                                {#                                <div class="slider_menu mini_tab ajax-list-home into" slidertab="sliderTab"#}
                                {#                                     data-id="30">#}
                                {#                                    <ul class="nav nav-pills tab-auto-scrollbar menu overflow-x-auto"#}
                                {#                                        id="category-tags">#}
                                {#                                        <li class="anchor"#}
                                {#                                            style="position: absolute; width: 80px; height: 28px; left: 0px; opacity: 1;"></li>#}
                                {#                                    </ul>#}
                                {#                                </div>#}
                                {#                                <div class="flex-fill"></div>#}
                                {#                            </div>#}
                                <!-- tab模式菜单 end -->
                                <div class="tab-content mt-4">
                                    <div id="" class="tab-pane  active">
                                        <div class="row io-mx-n2 mt-4 ajax-list-body position-relative">
                                            {% for software in category.software %}
                                                <div class="io-px-2 col-12 col-md-6 col-lg-4 col-xxl-5a ">
                                                    <div class="card-app card">
                                                        <div class="card-body align-items-center d-flex flex-fill py-3">
                                                            <div class="media size-70 p-0 app-rounded"
                                                                 style="background-image: linear-gradient(130deg, #f9f9f9, #e8e8e8);">
                                                                <a class="media-content software_link_{{ software.id }}"
                                                                   href="" onmouseleave="default_href()"
                                                                   onmouseout="default_href()"
                                                                   onmousemove="re_href_software('{{ software.id }}')"
                                                                   target="_blank"
                                                                   style="background-size: 100%;
                                                                           background-image: url({{ software.icon.url }});"
                                                                   data-was-processed="true"></a>
                                                            </div>
                                                            <div class="app-content flex-fill pl-2 pr-1">
                                                                <div class="mb-2">
                                                                    <a onmouseleave="default_href()"
                                                                       href="" target="_blank"
                                                                       onmouseout="default_href()"
                                                                       onmousemove="re_href_software('{{ software.id }}')"
                                                                       class="text-md overflowClip_1 software_link_{{ software.id }}">
                                                                        {% if software.is_recent %}
                                                                            <span style="vertical-align: middle"
                                                                                  class="badge vc-red text-ss mr-1"
                                                                                  title="新">N</span>
                                                                        {% elif software.is_hot %}
                                                                            👍
                                                                        {% endif %}
                                                                        {{ software.name }}
                                                                        <span class="text-xs"> - {{ software.version }}</span>
                                                                    </a>
                                                                </div>
                                                                <div class="text-muted text-xs overflowClip_1">
                                                                    {{ software.short_description }}
                                                                </div>
                                                                <div class="app-like">
                                                                    <div class="d-flex align-items-center"
                                                                         style="white-space: nowrap;">
                                                                        <div class="tga text-xs">
                                                                <span class="mr-1"><a
                                                                        class="category_link_{{ category.id }}"
                                                                        href="" onmouseleave="default_href()"
                                                                        onmouseout="default_href()"
                                                                        onmousemove="re_href_category('{{ category.id }}')"
                                                                        rel="tag">{{ category.name }}</a></span></div>
                                                                        <div class="flex-fill"></div>
                                                                        <div class="text-muted text-xs text-center mr-1">
                                                                    <span class="down"><i
                                                                            class="iconfont icon-down"></i> {{ software.download_volume }}</span>
                                                                            <span class="pl-2 "><i
                                                                                    class="iconfont icon-like"></i>
                                                                                <span class="home-like-1562">{{ software.thumbs_volume }}</span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="app-platform">
                                                                {#                                                                {{ software.platform }}#}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div><!-- main-content end -->
{% endblock %}
</body>
{% block script %}
    <script>
		$(document).ready(function () {
			get_notice_to_all('{{ csrf_token }}');
		})
    </script>
{% endblock %}
