{% load static %}
<div class=" header-nav">
    <div id="header" class="page-header sticky">
        <div class="navbar navbar-expand-md">
            <div class="container-fluid p-0 position-relative">
                <div class="position-absolute w-100 text-center">
                    <a href="/index/" class="navbar-brand d-md-none m-0" title="MacApplicationDistribution">
                        <img src="{% static 'favicon.ico' %}" class="logo-light"
                             alt="MacApplicationDistribution" height="30">
                        <img src="{% static 'favicon.ico' %}"
                             class="logo-dark d-none" alt="MacApplicationDistribution" height="30">
                    </a>
                </div>
                <div class="nav-item d-md-none mobile-menu py-2 position-relative"><a href="javascript:"
                                                                                      id="sidebar-switch"
                                                                                      data-toggle="modal"
                                                                                      data-target="#sidebar"><i
                        class="iconfont icon-classification icon-lg"></i></a></div>
                <div class="collapse navbar-collapse order-2 order-md-1">
                    <div class="header-mini-btn">
                        <label>
                            <input id="mini-button" type="checkbox" checked="checked" onclick="MiniOrNormalSidebar()">
                            <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                <path class="line--1" d="M0 40h62c18 0 18-20-17 5L31 55"></path>
                                <path class="line--2" d="M0 50h80"></path>
                                <path class="line--3" d="M0 60h62c18 0 18 20-17-5L31 45"></path>
                            </svg>
                        </label>
                    </div>
                    <ul class="navbar-nav navbar-top site-menu mr-4">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-97">
                            <a href="/index/">
                                <i class="iconfont icon-home icon-fw icon-lg"></i>
                                <span>首页</span></a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-542">
                            <a href="/articles/">
                                <i class="io io-wenzhang icon-fw icon-lg"></i>
                                <span>文章</span></a>
                            <ul class="sub-menu">
                                <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-550">
                                    <a href="/article/details/?article_id=50kHlGEkOf/UFUs0algdYQ==">
                                        <i class="iconfont icon-book-mark icon-fw icon-lg"></i>
                                        <span>使用教程</span></a></li>
                                <li id="menu-item-552"
                                    class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-552">
                                    <a href="/article/details/?article_id=uDop1A4uQorj+cfLT6zfGw==">
                                        <i class="iconfont icon-ad-line icon-fw icon-lg"></i>
                                        <span>赞助推广</span></a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-100"><a
                                href="/commentswitharticles/publish/?type=1">
                            <i class="io io-xiazai4 icon-fw icon-lg"></i>
                            <span>投稿</span></a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-37 current_page_item menu-item-101">
                            <a href="/rank/" aria-current="page">
                                <i class="iconfont icon-tubiaopeizhi icon-fw icon-lg"></i>
                                <span>排行</span></a></li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-97">
                            <a href="/question/">
                                <i class="fa fa-comments-o icon-fw icon-fw-append icon-lg"></i>
                                <span>反馈</span></a></li>
                    </ul>
                </div>
                <ul class="nav navbar-menu text-xs order-1 order-md-2 position-relative">
                    <li class="nav-search ml-3 ml-md-4">
                        <a href="/login/?redirect_to={{ request.path }}">
                            <svg t="1709909375831" style="width: 1.5em; height: 1.5em;" class="icon icon-fw"
                                 viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2517"
                                 width="200" height="200">
                                <path d="M426.666667 736V597.333333H128v-170.666666h298.666667V288L650.666667 512 426.666667 736M341.333333 85.333333h384a85.333333 85.333333 0 0 1 85.333334 85.333334v682.666666a85.333333 85.333333 0 0 1-85.333334 85.333334H341.333333a85.333333 85.333333 0 0 1-85.333333-85.333334v-170.666666h85.333333v170.666666h384V170.666667H341.333333v170.666666H256V170.666667a85.333333 85.333333 0 0 1 85.333333-85.333334z"
                                      fill="" p-id="2518"></path>
                            </svg>
                            <span class="align-middle"
                                  style="font-size: 14px; font-weight: 650; color: black;">
                                登录/注册
                            </span>
                        </a>
                    </li>
                    <li class="nav-search ml-3 ml-md-4">
                        <a href="javascript:" data-toggle="modal" data-target="#search-modal"><i
                                class="iconfont icon-search icon-lg"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="placeholder"></div>
</div>