{% extends 'frontenduser/base.html' %}
{% load static %}
{% block title %}

{% endblock %}
{% block meta %}
    <meta name="keywords" content="">
    <meta name="description" content="">
{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
    <div class="loading_container">
        <div class="loading"><i></i><i></i><i></i><i></i></div>
    </div>
    <body class="page-template page-template-template-contribute page-template-template-contribute-php page page-id-31 sidebar_right">
    {% include 'frontenduser/sidebar.html' %}
    <div class="main-content flex-fill">
        {% include 'frontenduser/header-nav.html' %}
        <div id="content" class="container my-4 my-md-5">
            <h1 id="comments-list-title" class="comments-title h5 mx-1 my-4">
                <i class="iconfont icon-tishi mr-2"></i>投稿须知
            </h1>
            <div class="panel card">
                <div class="card-body">
                    <div class="panel-body single mt-2">

                    </div>
                </div>
            </div>
            <div class="text-center mb-3">
                <div class="tab-btn-group text-sm">
                    <a href="https://macwk.cn/zaixiantougao/?type=post" class="tab-btn ">新文章</a><a
                        href="https://macwk.cn/zaixiantougao/?type=sites" class="tab-btn active">新网址</a></div>
            </div>
            <form class="post-tg tougao-form" method="post">
                <div class="content-wrap">
                    <div class="content-layout">
                        <div class="panel card">
                            <div class="card-body">
                                <div class="d-inline-block slider_menu into" slidertab="sliderTab">
                                    <ul class="nav nav-pills tab-auto-scrollbar menu" role="tablist">
                                        <li class="anchor"
                                            style="position: absolute; width: 60px; height: 40px; left: 0px; opacity: 1;"></li>
                                        <li class="pagenumber nav-item">
                                            <a class="nav-link active" data-toggle="pill" data-type="sites"
                                               href="#sites"
                                               onclick="currentType(this)">网址</a>
                                        </li>
                                        <li class="pagenumber nav-item">
                                            <a class="nav-link " data-toggle="pill" data-type="wechat" href="#wechat"
                                               onclick="currentType(this)">公众号</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="my-2">
                                    <label for="tougao_ico">图标:</label>
                                    <input type="hidden" value="" id="tougao_ico" class="tougao-sites"
                                           name="tougao_ico">
                                    <div class="upload_img">
                                        <div class="show_ico">
                                            <img id="show_ico" class="show-sites"
                                                 src="https://macwk.cn/wp-content/themes/onenav/images/add.png"
                                                 alt="图标">
                                            <i id="remove_ico"
                                               class="iconfont icon-close-circle remove-ico remove-sites"
                                               data-id="" data-type="ico" style="display: none;"></i>
                                        </div>
                                        <input type="file" id="upload_ico" class="upload-sites" name="tougao_ico"
                                               data-type="ico" accept="image/*" onchange="uploadImg(this)">
                                    </div>
                                </div>
                                <div class="row row-sm">
                                    <div class="col-12 my-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="iconfont icon-name icon-fw"
                                                                              aria-hidden="true"></i></span>
                                            </div>
                                            <input type="text" class="form-control sites-title" value=""
                                                   name="post_title"
                                                   placeholder="名称" maxlength="30">
                                        </div>
                                    </div>
                                    <div class="col-12 my-2 tg-wechat-id" style="display:none">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="iconfont icon-huabanfuben icon-fw"
                                                                              aria-hidden="true"></i></span>
                                            </div>
                                            <input type="text" class="form-control" value="" id="tougao_wechat_id"
                                                   name="wechat_id" placeholder="公众号ID(微信号)">
                                        </div>
                                    </div>
                                    <div class="col-12 my-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="iconfont icon-url icon-fw"
                                                                              aria-hidden="true"></i></span>
                                            </div>
                                            <input type="text" class="form-control sites-link" value="" name="link"
                                                   placeholder="链接">
                                            <div class="input-group-append tg-sites-url">
                                                <a href="javascript:" id="get_info"
                                                   class="btn btn-danger custom_btn-d">一键填写</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 my-2">
                                        <div class="input-group count-tips" data-min="0" data-max="80">
                                            <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="iconfont icon-tishi icon-fw"
                                                                              aria-hidden="true"></i></span>
                                            </div>
                                            <input type="text" class="form-control sites-des" value="" name="sescribe"
                                                   data-status="true" placeholder="简介" maxlength="80">
                                        </div>
                                    </div>
                                    <div class="col-12 my-2">
                                    <textarea class="form-control text-sm" rows="16" cols="55" name="post_content"
                                              placeholder="输入网址介绍"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar show-sidebar">
                    <div class="card rounded-lg mb-3 relative">
                        <div class="card-header widget-header">
                            <h3 class="text-md mb-0"><i class="iconfont icon-publish mr-2"></i>网址选项</h3>
                        </div>
                        <div class="card-body">
                            <p class="text-muted text-sm mb-2">分类</p>
                            <div class="form-select">
                                <select name="category" id="post_cat" class="form-control">
                                    <option value="0" selected="selected">选择分类</option>
                                    <option class="level-0" value="19">MacWk&nbsp;&nbsp;(0)</option>
                                </select>
                            </div>
                            <p class="text-muted text-sm mb-2 mt-3">标签</p>
                            <textarea class="form-control sites-keywords" rows="3" name="tags" placeholder="输入标签"
                                      tabindex="6"></textarea>
                            <p class="text-muted text-xs mt-2"><i class="iconfont icon-tishi"></i>填写标签，每个标签用逗号隔开
                            </p>
                        </div>
                    </div>
                    <div class="card rounded-lg mb-3 relative">
                        <div class="card-header widget-header">
                            <h3 class="text-md mb-0"><i class="iconfont icon-user-circle mr-2"></i>用户信息</h3>
                        </div>
                        <div class="card-body">
                            <p class="text-muted text-sm mb-2">昵称</p>
                            <div class="mb20">
                                <input class="form-control" name="user_name" placeholder="请输入昵称">
                            </div>
                            <p class="text-muted text-sm mb-2 mt-3">联系方式</p>
                            <input class="form-control" name="contact_details" placeholder="输入联系方式">
                        </div>
                    </div>
                    <input type="hidden" name="sites_type" value="sites">
                    <input type="hidden" name="action" value="io_sites_submit">
                    <input type="hidden" id="_wpnonce" name="_wpnonce" value="87f859f189"><input type="hidden"
                                                                                                 name="_wp_http_referer"
                                                                                                 value="/zaixiantougao">
                    <div class="card rounded-lg relative">
                        <div class="card-body">
                            <button type="submit" id="submit"
                                    class="btn btn-danger custom_btn-d text-sm col-12 custom-submit"><i
                                    class="iconfont icon-upload-wd mr-2"></i>提交审核
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div><!-- main-content end -->
    </body>
{% endblock %}
{% block script %}
{% endblock %}
