{% extends 'frontenduser/base.html' %}
{% load static %}
{% block title %}
    Mac软件分享平台
{% endblock %}
{% block style %}
    <style>
        .description-layout {
            width: 70%;
            text-indent: 2em;
            margin: 0 auto;
        }

        @media (min-height: 768px) {
            .swal2-modal {
                width: 100% !important;
            }

            .swal2-modal::-webkit-scrollbar {
                display: none !important;
            }
        }
    </style>
{% endblock %}
{% block content %}
    <div class="loading_container">
        <div class="loading"><i></i><i></i><i></i><i></i></div>
    </div>
    <body class="app-template-default single single-app postid-1428 sidebar_no app">
    {% include 'frontenduser/sidebar.html' %}
    <div class="main-content flex-fill">
        {% include 'frontenduser/header-nav.html' %}
        <div id="content" class="container my-4 my-md-5">
            <div class="background-fx">
                <img
                        src="{% static 'front/img/software_details/background/' %}shape-01.svg"
                        class="shape-01" alt="">
                <img
                        src="{% static 'front/img/software_details/background/' %}shape-02.svg" class="shape-02" alt="">
                <img
                        src="{% static 'front/img/software_details/background/' %}shape-03.svg" class="shape-03" alt="">
                <img
                        src="{% static 'front/img/software_details/background/' %}shape-04.svg" class="shape-04" alt="">
                <img
                        src="{% static 'front/img/software_details/background/' %}shape-05.svg" class="shape-05" alt="">
                <img
                        src="{% static 'front/img/software_details/background/' %}shape-06.svg" class="shape-06" alt="">
                <img
                        src="{% static 'front/img/software_details/background/' %}shape-07.svg" class="shape-07" alt="">
                <img
                        src="{% static 'front/img/software_details/background/' %}shape-08.svg" class="shape-08" alt="">
                <img
                        src="{% static 'front/img/software_details/background/' %}shape-09.svg" class="shape-09" alt="">
                <img
                        src="{% static 'front/img/software_details/background/' %}shape-10.svg" class="shape-10" alt="">
                <img
                        src="{% static 'front/img/software_details/background/' %}shape-11.svg" class="shape-11" alt="">
            </div>
            <div class="row app-content py-5 mb-xl-5 mb-0 mx-xxxl-n5"><!-- software信息 -->
                <div class="col">
                    <div class="d-md-flex mt-n3 mb-5 my-xl-0">
                        <div class="app-ico text-center mr-0 mr-md-2 mb-3 mb-md-0"><img
                                class="app-rounded mr-0 mr-md-3 lazy unfancybox loaded"
                                src="{{ software.icon.url }}"
                                data-src="{{ software.icon.url }}" height="auto"
                                width="128"
                                alt="{{ software.name }}" data-was-processed="true"></div>
                        <div class="app-info"><h1 class="h3 text-center text-md-left mb-0">{{ software.name }}
                            <span class="text-md">- {{ software.version }}</span></h1>
                            <p class="text-xs text-center text-md-left my-1">{{ software.description|truncatechars:30 }}</p>
                            <div class="app-nature text-center text-md-left mb-5 mb-md-4"><span
                                    class="badge badge-pill vc-black mr-1"><i
                                    class="fa fa-language mr-2"></i>{{ software.language }}</span><span
                                    class="badge badge-pill vc-black mr-1"><i
                                    class="fa fa-laptop mr-2"></i>{{ software.platform }}</span><span
                                    class="badge badge-pill vc-black mr-1"><i
                                    class="iconfont icon-chakan-line mr-2"></i>
                                {% if software.view_volume == 0 %}
                                    1
                                {% else %}
                                    {{ software.view_volume }}
                                {% endif %}
                            </span>
                            </div>
                            <p class="text-muted mb-4"><span
                                    class="info-term mr-3">更新日期：{{ software.updated_time|date }}</span>
                                <br/><span
                                        class="info-term mr-3">标签：<span class="mr-2" id="tag-space"
                                                                          data-tags="{{ software.tags }}"></span></span>
                                <br/><span
                                        class="info-term mr-3">运行系统版本：{{ software.run_os_version }}</span>
                                <br/><span
                                        class="info-term mr-3">分类：<a class="category_link_{{ software.category.id }}"
                                                                       onmouseleave="default_href()"
                                                                       onmouseout="default_href()"
                                                                       onmousemove="re_href_category('{{ software.category.id }}')"
                                                                       href="">{{ software.category }}<i
                                        class="iconfont icon-wailian text-ss"></i></a></span></p>
                            <div class="mb-2 app-button">
                                <button type="button" onclick="download_modal(storage_software_info())"
                                        class="btn btn-lg px-4 text-lg radius-50 btn-danger custom_btn-d btn_down mr-3 mb-2">
                                    <i
                                            class="iconfont icon-down mr-2"></i>立即下载
                                </button>
                                <button type="button" id="software-{{ software.id }}"
                                        onclick="thumb_software('{{ software.id }}', 1)"
                                        class="btn btn-lg px-4 text-lg radius-50 btn-outline-danger custom_btn-outline mb-2">
                                    <i class="iconfont icon-like mr-2"></i> 赞 <span
                                        class="like-count ">{{ software.thumbs_volume }}</span>
                                </button>
                            </div>
                            <p class="mb-0 text-muted text-sm">
                                <span class="mr-2">
                                    <i class="fa fa-file-archive-o"></i>
                                    <span>{{ software.file_size }}
                                    </span>
                                </span>
                                <span class="mr-2">
                                    <i class="iconfont icon-qushitubiao"></i>
                                    <span class="down-count-text count-a">
                                        {{ software.download_volume }}
                                    </span> 人已下载
                                </span>
                            </p>
                        </div>
                    </div>
                </div><!-- software信息 END -->
                {% if software.screenshots_set.count > 0 %}
                    <!-- 截图幻灯片 -->
                    <div class="col-12 col-xl-5">
                        <div class="mx-auto screenshot-carousel rounded-lg">
                            <div id="carousel" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                    {% for screenshot in software.screenshots_set %}
                                        <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                                            <div class="img_wrapper"><a
                                                    href="{{ screenshot.image.url }}"
                                                    class="text-center" data-fancybox="screen"
                                                    data-caption="{{ software.name }}的使用截图[{{ screenshot.id }}]"><img
                                                    class="img-fluid lazy unfancybox loaded"
                                                    src="{{ screenshot.image.url }}"
                                                    data-src="{{ screenshot.image.url }}"
                                                    height="auto"
                                                    width="auto"
                                                    alt="{{ software.name }}的使用截图[{{ screenshot.id }}]"
                                                    data-was-processed="true"></a></div>
                                        </div>
                                    {% endfor %}
                                </div>
                                {% if software.screenshots_set.count > 1 %}
                                    <ol class="carousel-indicators">
                                        {% with n=software.screenshots_set.count_list %}
                                            {% for i in n %}
                                                <li data-target="#carousel" data-slide-to="{{ forloop.counter0 }}"
                                                    class="{% if forloop.counter == 1 %}active{% endif %}"></li>
                                            {% endfor %}
                                        {% endwith %}
                                    </ol>
                                    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev"><i
                                            class="iconfont icon-arrow-l icon-lg" aria-hidden="true"></i><span
                                            class="sr-only">上一个</span></a><a
                                        class="carousel-control-next" href="#carousel" role="button"
                                        data-slide="next"><i
                                        class="iconfont icon-arrow-r icon-lg" aria-hidden="true"></i><span
                                        class="sr-only">下一个</span></a></div>
                                {% else %}
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel" data-slide-to="0" class="active"></li>
                                    </ol>
                                {% endif %}
                        </div>
                    </div>
                    <!-- 截图幻灯片 END -->
                {% endif %}
            </div>
            <main class="content" role="main">
                <div class="content-wrap">
                    <div class="content-layout">
                        <div class="panel site-content card transparent">
                            <div class="card-body p-0">
                                <div class="apd-bg"></div>
                                <div class="panel-body single my-4 description-layout">
                                    {{ software.description|safe }}
                                </div>
                                {% if software.official_link %}
                                    <div class="text-center">
                                        <a href="{{ software.official_link }}" target="_blank"
                                           class="btn btn-lg btn-outline-primary custom_btn-outline  text-lg radius-50 py-3 px-5 my-3">
                                            去官方网站了解更多
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        {#关联文章#}
                        {% if related_articles_count > 0 %}
                            <h2 class="text-gray text-lg my-4">
                                <i class="site-tag fa fa-file-text-o mr-1"></i>
                                关联文章
                            </h2>
                            <div class="io-edit-post-card-content">
                                {% for article in related_articles %}
                                    <div class="url-card shortcode-url site_0 mx-auto " style="max-width:600px">
                                        <div class="card flex-fill mb-3">
                                            <div class="row no-gutters">
                                                <div class="col-4">
                                                    <div class="media media-4x3 rounded-left">
                                                        <a
                                                                class="media-content article_link_{{ article.id }}"
                                                                onmouseout="default_href()"
                                                                onmouseleave="default_href()"
                                                                onmousemove="re_href_software('{{ article.id }}')"
                                                                data-was-processed="true"
                                                                data-src="{{ article.cover.url }}"
                                                                style="background-image: url({{ article.cover.url }});"></a>
                                                    </div>
                                                </div>
                                                <div class="col-8">
                                                    <div class="card-body list-content p-2" style="height: 100%;">
                                                        <div class="list-body">
                                                            <a href=""
                                                               title="{{ article.title }}"
                                                               onmouseout="default_href()"
                                                               onmouseleave="default_href()"
                                                               onmousemove="re_href_article('{{ article.id }}')"
                                                               class="list-title no-c overflowClip_1 article_link_{{ article.id }}">
                                                                {{ article.title }}
                                                            </a>
                                                            <div class="list-desc d-none d-md-block text-sm text-secondary my-3">
                                                                {{ article.content|truncatechars:20 }}
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <div class="d-flex flex-fill align-items-center text-muted text-xs">
                                                                <div class="flex-fill"></div>
                                                                <div>
                                                                    <time datetime="'{{ article.updated_time|date:"Y-m-d H:i:sO" }}'"></time>
                                                                    <script>
																		$(document).ready(function () {
																			format_time_block();
                                                                        })
                                                                    </script>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}

                        {#相关软件#}
                        <h2 class="text-gray text-lg my-4">
                            <i class="site-tag iconfont icon-tag icon-lg mr-1"></i>相关软件
                        </h2>
                        {% if related_software_count > 0 %}
                            <div class="row mb-n4">
                                {% for software in related_software %}
                                    <div class="col-4 col-md-3 col-lg-2 pb-1">
                                        <div class="card-app default list-item">
                                            <div class="media p-0 app-rounded"
                                                 style="background-image: linear-gradient(130deg, #f9f9f9, #e8e8e8);">
                                                <a class="media-content software_link_{{ software.id }}"
                                                   onmouseout="default_href()"
                                                   onmouseleave="default_href()"
                                                   target="_blank"
                                                   onmousemove="re_href_software('{{ software.id }}')"
                                                   data-bg="url({{ software.icon.url }})"
                                                   style="background-size: 100%; background-image: url('{{ software.icon.url }}');"
                                                   data-was-processed="true"></a>
                                            </div>
                                            <div class="list-content text-center pt-2">
                                                <div class="list-body">
                                                    <a
                                                            href=""
                                                            onmouseout="default_href()"
                                                            onmouseleave="default_href()"
                                                            onmousemove="re_href_software('{{ software.id }}')"
                                                            class="text-md overflowClip_1 software_link_{{ software.id }}">{{ software.name }}
                                                    </a>
                                                    <div class="mt-1">
                                                        <div class="list-subtitle text-muted text-xs overflowClip_1">
                                                            {{ software.description|truncatechars:20 }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="card">
                                <div class="card-body">
                                    <div class="nothing text-center color-d">暂无相关软件...</div>
                                </div>
                            </div>
                        {% endif %}
                    {#comments#}
                    {% include 'frontenduser/comments_list.html' %}
                    </div><!-- content-layout end -->
                </div><!-- content-wrap end -->
            </main>
        </div>
    </div><!-- main-content end -->
{% endblock %}
</body>
{% block script %}
    <script>
		$(document).ready(function () {
			get_notice_to_specific_app('{{ csrf_token }}', '{{ software_id }}');
			fill_in_tags();
		});
		
		function fill_in_tags() {
			let tag_space = $('#tag-space')[0];
			tags = split_tags(tag_space.getAttribute('data-tags'));
			for (let i = 0; i < tags.length; i++) {
				tag_space.innerHTML += tags[i];
				tag_space.innerHTML += '&nbsp;&nbsp;&nbsp;&nbsp;';
			}
		}
		
		function storage_software_info() {
			let map = new Map();
			map.set('id', '{{ software.id }}');
			map.set('name', '{{ software.name }}');
			map.set('version', '{{ software.version }}');
			map.set('link_adrive', '{{ software.link_adrive }}');
			map.set('link_baidu', '{{ software.link_baidu }}');
			map.set('link_direct', '{{ software.link_direct }}');
			map.set('link_123', '{{ software.link_123 }}');
			return map;
		}
    </script>
{% endblock %}
