{% extends 'frontenduser/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href='{% static "front/css/normalize.css" %}'/>
    <link rel="stylesheet" type="text/css" href='{% static "front/css/htmleaf-demo.css" %}'>
    <link rel="stylesheet" href='{% static "front/css/tpl-style.css" %}'>
    <link rel="stylesheet" href='{% static "front/css/dialog.css" %}'>
</head>
<body>

</body>
<script src='{% static "front/js/zepto.min.js" %}'></script>
<script src='{% static "front/js/dialog.js" %}'></script>
</html>