{% extends 'frontenduser/base.html' %}
{% load static %}
{% block title %}
    Mac软件分享平台 {{ category.name }}
{% endblock %}
{% block meta %}
    <meta name="keywords" content="{{ category.name }};{{ category.slug }}">
    <meta name="description" content="{{ category.description }}">
{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
    <div class="loading_container">
        <div class="loading"><i></i><i></i><i></i><i></i></div>
    </div>
    <body class="archive tax-apps term-yinpin term-48 sidebar_no">
    {% include 'frontenduser/sidebar.html' %}
    <div class="main-content flex-fill">
        {% include 'frontenduser/header-nav.html' %}
        <div class="container container-fluid customize-width">
            <div class="no-search my-2 p-1"></div>
        </div>
        <div id="content" class="container container-lg is_category">
            <div class="content-wrap">
                <div class="content-layout">
                    <h4 class="text-gray text-lg mb-4">
                        <i class="site-tag iconfont icon-app icon-lg mr-1" id="音频"></i>{{ category.name }}</h4>
                    <div class="row">
                        {% if category and software_set and software_set.count > 0 %}
                            {% for software in software_set %}
                                <div class="io-px-2 col-12 col-md-6 col-lg-4 col-xxl-5a ajax-url">
                                    <div class="card-app card">
                                        <div class="card-body align-items-center d-flex flex-fill py-3">
                                            <div class="media size-70 p-0 app-rounded"
                                                 style="background-image: linear-gradient(130deg, #f9f9f9, #e8e8e8);">
                                                <a class="media-content software_link_{{ software.id }}"
                                                   href="/software/details/software_id="
                                                   target="_blank"
                                                   data-bg="url({{ software.icon.url }})"
                                                   style="background-size: 85%; background-image: url({{ software.icon.url }});"
                                                   data-was-processed="true"></a>
                                            </div>
                                            <div class="app-content flex-fill pl-2 pr-1">
                                                <div class="mb-2"><a href="/software/details/?software_id="
                                                                     target="_blank"
                                                                     class="text-md overflowClip_1 software_link_{{ software.id }}">{{ software.name }}<span
                                                        class="text-xs"> - {{ software.version }}</span></a>
                                                    <script>
														$(document).ready(function () {
															let software_links = document.getElementsByClassName('software_link_{{ software.id }}');
															for (let i = 0; i < software_links.length; i++) {
																software_links[i].href += encrypt_param('{{ software.id }}');
															}
														})
                                                    </script>
                                                </div>
                                                <div class="text-muted text-xs overflowClip_1">{{ software.description }}</div>
                                                <div class="app-like">
                                                    <div class="d-flex align-items-center" style="white-space: nowrap;">
                                                        <div class="tga text-xs">
                                                <span class="mr-1"><a href="/category?category_id="
                                                                      class="category_link_{{ software.category.id }}"
                                                                      rel="tag">{{ software.category.name }}</a>
                                                <script>
                                                         $(document).ready(function () {
	                                                         let software_links = document.getElementsByClassName('category_link_{{ software.category.id }}');
	                                                         for (let i = 0; i < software_links.length; i++) {
		                                                         software_links[i].href += encrypt_param('{{ software.category.id }}');
	                                                         }
                                                         })
                                                </script>
                                                </span></div>
                                                        <div class="flex-fill"></div>
                                                        <div class="text-muted text-xs text-center mr-1">
                                                            <span class="view pl-2"><i
                                                                    class="fa fa-eye"
                                                                    style="font-size: unset"></i> {{ software.view_volume }}</span>
                                                            <span class="down pl-2"><i
                                                                    class="fa fa-download"
                                                                    style="font-size: unset"></i> {{ software.download_volume }}</span>
                                                            <span class="pl-2" style="cursor: pointer"
                                                                  id="software-{{ software.id }}"
                                                                  onclick="thumb_software('{{ software.id }}',1)"><i
                                                                    class="fa fa-thumbs-o-up" style="font-size: unset">
                                                            </i>
                                                                <span
                                                                        class="home-like-1295">{{ software.thumbs_volume }}</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="app-platform"></div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="col-12">
                                <div class="alert alert-warning text-center" role="alert">
                                    <strong>抱歉，</strong> 该分类下暂无软件！
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="posts-nav mb-4">
                    </div>
                </div>
            </div>
        </div>
    </div><!-- main-content end -->
{% endblock %}
</body>
{% block script %}
    <script>
		function thumb_software(software_id, type) {
			let t = document.getElementById('software-' + software_id);
			t.setAttribute('onclick', '');
			if (type === 1) {
				thumb_software_or_not('{{ csrf_token }}', 'thumb', software_id)
			} else if (type === 2) {
				thumb_software_or_not('{{ csrf_token }}', 'de_thumb', software_id)
			} else {
				console.log('invalid action')
			}
		}
    </script>
{% endblock %}