{% extends 'front/base.html' %}
{% load static %}
{% block title %}
    Mac软件分享平台 {{ category.name }}
{% endblock %}
{% block meta %}
    <meta name="keywords" content="{{ category.name }};{{ category.slug }}">
    <meta name="description" content="{{ category.description }}">
{% endblock %}
{% block style %}
    <style>
        @media (min-width: 768px) {
            .pixel-btn,
            .pixel-btn:after {
                width: 150px;
                height: 50px;
                line-height: 50px;
                font-size: 20px;
            }
        }
    </style>
{% endblock %}
{% block content %}
    <div class="loading_container">
        <div class="loading"><i></i><i></i><i></i><i></i></div>
    </div>
    <body class="archive tax-apps term-yinpin term-48 sidebar_no">
    {% include 'front/sidebar.html' %}
    <div class="main-content flex-fill">
        {% include 'front/header-nav.html' %}
        <div class="container container-fluid customize-width">
            <div class="no-search my-2 p-1"></div>
        </div>
        <div id="content" class="container container-lg is_category">
            <div class="content-wrap">
                <div class="content-layout">
                    <h4 class="text-gray text-lg mb-4">
                        <i class="site-tag iconfont icon-app icon-lg mr-1" id="音频"></i>{{ category.name }}</h4>
                    <div class="row">
                        {% if category and software_set and software_set_count > 0 %}
                            {% for software in software_set %}
                                <div class="io-px-2 col-12 col-md-6 col-lg-4 col-xxl-5a ajax-url">
                                    <div class="card-app card">
                                        <div class="card-body align-items-center d-flex flex-fill py-3">
                                            <div class="media size-70 p-0 app-rounded"
                                                 style="background-image: linear-gradient(130deg, #f9f9f9, #e8e8e8);">
                                                <a class="media-content software_link_{{ software.id }}"
                                                   href="/software/details/software_id="
                                                   target="_blank"
                                                   data-bg="url('{{ software.icon.url }}')"
                                                   style="background-size: 85%; background-image: url('{{ software.icon.url }}');"
                                                   data-was-processed="true"></a>
                                            </div>
                                            <div class="app-content flex-fill pl-2 pr-1">
                                                <div class="mb-2">
                                                    <a href=""
                                                       onmouseout="default_href()"
                                                       onmouseleave="default_href()"
                                                       target="_blank"
                                                       onmousemove="re_href_software('{{ software.id }}')"
                                                       class="text-md overflowClip_1 software_link_{{ software.id }}">
                                                        {% if software.is_recent %}
                                                            <span style="vertical-align: middle"
                                                                  class="badge vc-red text-ss mr-1" title="新">N</span>
                                                        {% elif software.is_hot %}
                                                            👍
                                                        {% endif %}
                                                        {{ software.name }}<span
                                                            class="text-xs"> - {{ software.version }}</span></a>
                                                </div>
                                                <div class="text-muted text-xs overflowClip_1">{{ software.description }}</div>
                                                <div class="app-like">
                                                    <div class="d-flex align-items-center" style="white-space: nowrap;">
                                                        <div class="tga text-xs">
                                                <span class="mr-1"><a href=""
                                                                      onmouseout="default_href()"
                                                                      onmouseleave="default_href()"
                                                                      onmousemove="re_href_category('{{ software.category.id }}')"
                                                                      class="category_link_{{ software.category.id }}"
                                                                      rel="tag">{{ software.category.name }}</a>
                                                </span></div>
                                                        <div class="flex-fill"></div>
                                                        <div class="text-muted text-xs text-center mr-1">
                                                            <span class="view pl-2"><i
                                                                    class="fa fa-eye"
                                                                    style="font-size: unset"></i> {{ software.view_volume }}</span>
                                                            <span class="down pl-2"><i
                                                                    class="fa fa-download"
                                                                    style="font-size: unset"></i> {{ software.download_volume }}</span>
                                                            <span class="pl-2" style="cursor: pointer"
                                                                  id="software-{{ software.id }}"
                                                                  onclick="thumb_software('{{ software.id }}',1)"><i
                                                                    class="fa fa-thumbs-o-up" style="font-size: unset">
                                                            </i>
                                                                <span
                                                                        class="home-like-1295">{{ software.thumbs_volume }}</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="app-platform"></div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            {% if software_set_count > 10 %}
                                {#                                loading more#}
                                <div class="col-12">
                                    <div class="text-center">
                                        <button class="pixel-btn" id="load_more_software"
                                                onclick="load_left('{{ category.id }}')">
                                            加载更多
                                        </button>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="col-12">
                                <div class="alert alert-warning text-center" role="alert">
                                    <strong>抱歉，</strong> 该分类下暂无软件！
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="posts-nav mb-4">
                    </div>
                </div>
            </div>
        </div>
    </div><!-- main-content end -->
{% endblock %}
</body>
{% block script %}
    <script>
		function load_left(category_id) {
			$.ajax({
				url: '/category/load/left/',
				type: 'POST',
				data: {
					'csrfmiddlewaretoken': '{{ csrf_token }}',
					'category_id': encrypt_param(category_id.toString()),
				},
				success: function (data) {
					if (data.code === 200) {
						let layout_content = $('.row')[0];
						layout_content.children[layout_content.children.length - 1].remove();
						for (let i = 0; i < data.data.software_set_count; i++) {
							let appended_tip = '';
                            if(data.data.software_set[i].is_recent){
                                appended_tip = '<span style="vertical-align: middle" class="badge vc-red text-ss mr-1" title="新">N</span>';
                            }else if(data.data.software_set[i].is_hot > 30000){
                                appended_tip = '👍';
                            } else {appended_tip = '';}
							layout_content.innerHTML += `
                                <div class="io-px-2 col-12 col-md-6 col-lg-4 col-xxl-5a ajax-url">
                                    <div class="card-app card">
                                        <div class="card-body align-items-center d-flex flex-fill py-3">
                                            <div class="media size-70 p-0 app-rounded"
                                                 style="background-image: linear-gradient(130deg, #f9f9f9, #e8e8e8);">
                                                <a class="media-content software_link_${data.data.software_set[i].id}"
                                                   href="/software/details/software_id="
                                                   target="_blank"
                                                   data-bg="url('${data.data.software_set[i].icon}')"
                                                   style="background-size: 85%; background-image: url('${data.data.software_set[i].icon}');"
                                                   data-was-processed="true"></a>
                                            </div>
                                            <div class="app-content flex-fill pl-2 pr-1">
                                                <div class="mb-2"><a href=""
                                                                    onmouseout="default_href()" onmouseleave="default_href()"
                                                                     target="_blank" onmousemove="re_href_software(${data.data.software_set[i].id})"
                                                                     class="text-md overflowClip_1 software_link_${data.data.software_set[i].id}">${appended_tip}${data.data.software_set[i].name}<span
                                                        class="text-xs"> - ${data.data.software_set[i].version}</span></a>
                                                </div>
                                                <div class="text-muted text-xs overflowClip_1">${data.data.software_set[i].description}</div>
                                                <div class="app-like">
                                                    <div class="d-flex align-items-center" style="white-space: nowrap;">
                                                        <div class="tga text-xs">
                                                <span class="mr-1"><a href=""
                                                                      onmouseout="default_href()"
                                                                      onmouseleave="default_href()"
                                                                      onmousemove="re_href_category(${data.data.category.id})"
                                                                      class="category_link_${data.data.category.id}"
                                                                      rel="tag">${data.data.category.name}</a>
                                                </span></div>
                                                        <div class="flex-fill"></div>
                                                        <div class="text-muted text-xs text-center mr-1">
                                                            <span class="view pl-2"><i
                                                                    class="fa fa-eye"
                                                                    style="font-size: unset"></i> ${data.data.software_set[i].view_volume}</span>
                                                            <span class="down pl-2"><i
                                                                    class="fa fa-download"
                                                                    style="font-size: unset"></i> ${data.data.software_set[i].download_volume}</span>
                                                            <span class="pl-2" style="cursor: pointer"
                                                                  id="software-${data.data.software_set[i].id}"
                                                                  onclick="thumb_software('${data.data.software_set[i].id}',1)"><i
                                                                    class="fa fa-thumbs-o-up" style="font-size: unset">
                                                            </i>
                                                                <span
                                                                        class="home-like-1295">${data.data.software_set[i].thumbs_volume}</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="app-platform"></div>
                                        </div>
                                    </div>
                                </div>
						`;
						}
					} else {
						Swal.fire({
							icon: 'error',
							title: '服务器错误' + data.code + ': ' + data.error,
							text: '请稍后重试！'
						})
					}
				},
				error: function (data) {
					Swal.fire({
						icon: 'error',
						title: '服务器错误' + data.error,
						text: '请稍后重试！'
					})
				}
			})
		}
    </script>
{% endblock %}
